/*rgba(0, 0, 0, 0.8) // Black*/
/*#DEDEDE // Border Gray*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f6f6ef !important;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 30px;
}
body {
  margin-top: 100px;
  height: calc(100% - 100px);
}
a {
  cursor: pointer;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
/*ANGULAR STUFF*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/*APP STYLING*/
* {
  box-sizing: border-box;
}
/*HIGHLIGHT COLOR*/
::-moz-selection {
  background-color: #1481e3;
  color: #fff;
}
::selection {
  background-color: #1481e3;
}
.strong {
  font-weight: 600;
}
.btn {
  border-radius: 2px;
}
.page-title {
  text-align: center;
  margin: 120px 0 30px 0;
}
.space-top {
  margin-top: 20px;
}
.inline {
  display: inline-block;
  float: left;
}
.form-control,
.form-control:focus {
  border-radius: 2px;
  box-shadow: none;
  outline: none;
  padding: 20px 15px;
}
.mentor-image {
  max-width: 60px;
  float: left;
  margin: 0 20px;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
}
.text-left {
  margin: 15px 25px;
}
.text {
  margin: 0 25px;
}
.name {
  font-weight: 700;
}
.close-mini-modal {
  cursor: pointer;
}
.close-mini-modal:hover {
  color: #1a75ff;
}
.tooltip-wrapper {
  visibility: hidden;
  position: absolute;
}
.tooltip-wrapper .tooltip {
  position: absolute;
  width: 100px;
  color: #FFF;
  font-weight: 400;
  background: #292929;
  text-align: center;
  border-radius: 2px;
  top: -80px;
  margin-left: -25px;
  font-size: 12px;
  padding: 5px;
  opacity: 1;
}
.tooltip-wrapper .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #292929;
  position: absolute;
  top: -53px;
  margin-left: 19px;
}
.portlet-placeholder {
  margin: 0 1em 1em 0;
  height: 100px;
  background-color: #eee;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.33);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #c3c3c3;
  z-index: 100;
}
header .section {
  height: 100%;
  display: flex;
  align-items: center;
}
header .left {
  float: left;
}
header .left a {
  height: 100%;
}
header .left a img {
  height: 100%;
  padding: 10px;
}
header .right {
  margin-right: 15px;
  float: right;
}
header .right p {
  margin: 0;
  line-height: 4;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
}
header .right p:hover {
  border-bottom: 2px solid #ff611a;
  background-color: #FBF9F9;
}
header .right .pic-container {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}
header .right .dropdown-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
header .right .header-dropdown {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  box-shadow: -1px 1px 5px -1px #757575;
  position: fixed;
  top: 53px;
  right: 20px;
}
header .right .header-dropdown hr {
  margin: 0;
}
header .right .header-dropdown a {
  color: #333;
}
header .right .header-dropdown .header-unit {
  width: 180px;
  height: 50px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
  align-items: center;
}
header .right .header-dropdown .header-unit:hover {
  background-color: #eee;
}
section.home {
  height: 100%;
}
section.home .section {
  width: 100%;
  background-color: #3686be;
}
section.home .banner {
  margin-top: -100px;
  height: 100vh;
  background: url("/public/images/kitten.png") 50% 50% no-repeat scroll;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.home .banner h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
section.home .banner .inline {
  margin: 20px 5px;
}
section.home .banner .inline.form-control {
  width: 250px;
  padding: 25px 15px;
}
section.home .banner .inline.btn-default {
  line-height: 40px;
  width: 90px;
  border: none;
  border-radius: 2px;
}
section.dashboard {
  min-height: 60%;
  /*
	 * Modal Section
	*/
  /* TODO needs to be fixed. 70 is crazy */
}
section.dashboard .display-box {
  float: left;
  width: 27%;
  height: 150px;
  margin: 3%;
  margin-top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}
section.dashboard .display-box:hover {
  border: 1px solid #1a75ff;
  background-color: #eee;
  color: #1a75ff;
}
section.dashboard .display-box:hover .text-dashboard {
  color: #1a75ff;
}
section.dashboard .display-box.add-new {
  border: 1px solid #2ecc71;
}
section.dashboard .display-box.add-new:hover {
  border: 1px solid #1a75ff;
}
section.dashboard .text-dashboard {
  text-align: center;
}
section.dashboard .text-dashboard.name {
  font-weight: 600;
}
section.dashboard .icon-dashboard {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
section.dashboard .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
section.dashboard .calendar-link {
  text-decoration: none;
  color: #000;
}
section.dashboard .new-cohort-form {
  width: 75%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
section.dashboard .form-input {
  height: 3em;
  padding: 10px;
  margin: 10px 0;
}
section.dashboard .form-btn-container {
  margin: 0 70px 0 0;
  float: right;
}
section.dashboard .form-btn {
  height: 3em;
  width: 8em;
  margin: 20px;
}
section.dashboard .title {
  float: left;
}
section.dashboard .toggle-container {
  float: right;
}
section.dashboard .toggle {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: #29c210;
}
section.dashboard .toggle-off {
  float: right;
  margin: 0 20px 0 0;
  font-size: 3em;
  color: #000;
}
section.dashboard .right {
  margin: 0;
}
.btn-horizontal {
  margin-right: -3px;
}
.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.content-center {
  justify-content: center;
  -webkit-justify-content: center;
}
.content-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
  -webkit-align-items: center;
}
.align-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.align-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.center {
  align-self: center;
}
.width100 {
  width: 100%;
}
.cal {
  width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  position: relative;
}
.cal h3 {
  margin: 0;
  margin-bottom: 20px;
}
.cal .day {
  height: 100px;
  padding: 20px;
  border-left: 2px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: -webkit-grab;
  overflow: hidden;
}
.cal .day:hover {
  border-left: 2px solid #C3C3C3;
}
.cal .day:hover p {
  color: #333;
}
.cal .day:hover .instructor-wrapper img {
  opacity: 0.9;
}
.cal .day p {
  color: #A4A4A4;
}
.cal .day .instructor-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-itmes: flex-start;
}
.cal .day .instructor-wrapper p {
  display: inline-block;
  padding: 20px;
  padding-top: 0;
  margin: 0;
}
.cal .day .instructor-wrapper img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 1px;
  opacity: 0.6;
  display: inline-block;
}
.cal .active-dragging {
  cursor: -webkit-grabbing;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.8);
  -ms-transform: rotate(1.3deg);
  /* IE 9 */
  -webkit-transform: rotate(1.3deg);
  /* Safari */
  transform: rotate(1.3deg);
}
.cal .course-body {
  display: none;
  padding: 0 10px;
}
.cal .course-body .card {
  display: inline-block;
  width: 200px;
  min-height: 100px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: inherit;
  padding: 10px;
  padding-top: 30px;
  /*background-color: rgb(245, 245, 245);
			border: 1px solid #848484;*/
  word-break: break-all;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #C8C5C5;
  position: relative;
}
.cal .course-body .card .card-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  padding-left: 8px;
  background-color: #4A4F68;
  /*#464646;*/
}
.cal .course-body .card .card-title h4 {
  line-height: 25px;
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.cal .course-body .actions {
  position: absolute;
  top: 0;
  right: 0;
}
.cal .course-body .action {
  width: 25px;
  height: 25px;
  /*float: right;*/
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  border-radius: 1000px;
  cursor: pointer;
}
.cal .course-body .action:hover .glyphicon-ok {
  color: #09B314;
}
.cal .course-body .action:hover .glyphicon-thumbs-down {
  color: #ff611a;
}
.cal .course-body .action .glyphicon {
  color: #CFCFCF;
}
.cal .course-body .success-card {
  background-color: #C5FFDE;
  border: 1px solid #2ecc71;
}
.cal .course-title {
  padding: 0 10px;
}
.cal .day-date {
  color: #A4A4A4;
}
.cal .active-date {
  border-left: 2px solid #1a75ff !important;
  background-color: #FDFEFF;
  min-height: 100px;
  height: auto;
  cursor: text;
}
.cal .active-date .day-date {
  color: #1a75ff !important;
}
.cal .active-date .instructor-wrapper img {
  opacity: 0.9;
}
.cal .active-date p {
  color: #333;
}
.cal .active-date .course-title {
  font-weight: 600;
}
.cal .active-date .course-body {
  display: inherit;
}
.cal .weekend {
  background-color: rgba(247, 162, 124, 0.02);
  /*rgba(255, 97, 26, 0.01);*/
}
.cal .first-day {
  border-top: 1px solid #eee;
}
.cal .last-day {
  border-bottom: 1px solid #D5D5D5;
}
.after-cal {
  position: absolute;
  bottom: -5px;
  margin: 0 2px;
  left: 0;
  width: 994px;
  height: 4px;
  border: 1px solid red;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  border-top: 0;
  background-color: #fff;
}
.smaller-after {
  bottom: -9px;
  margin: 0 4px;
  left: 0;
  width: 990px;
  height: 4px;
}
section.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}
section.registration .unit {
  height: 100%;
}
section.registration .left {
  background: url("/public/images/welcome.png") 50% 50% no-repeat scroll;
  background-size: cover;
  width: 57%;
}
section.registration .right {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.registration .right .inner-right {
  width: 100%;
  max-width: 380px;
}
section.registration .right .inner-right .form-control {
  margin-bottom: 10px;
}
section.registration .right .inner-right .btn {
  line-height: 2;
  width: 100px;
}
section.user-settings .shift-wrapper {
  padding: 0 150px;
}
section.user-settings .shift-wrapper .profile-header {
  background-color: #eee;
  padding: 15px;
  font-weight: 600;
}
section.user-settings .shift-wrapper .container {
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  padding: 0;
  position: relative;
}
section.user-settings .shift-wrapper .container .profile-container-body {
  padding: 20px;
}
section.user-settings .shift-wrapper .container .profile-container-body .pic-container {
  float: right;
  background-color: #fff;
  padding: 12px;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -1px #000000;
  position: absolute;
  top: 5px;
  right: 2px;
}
section.user-settings .shift-wrapper .container .profile-container-body form {
  max-width: 400px;
}
section.user-settings .shift-wrapper .container .profile-container-body form .form-control {
  margin-bottom: 15px;
}
section.user-settings .shift-wrapper .container .profile-container-body form .btn {
  height: 42px;
}
.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.34);
  z-index: 100;
}
.modal {
  border-radius: 2px;
  padding: 20px;
  padding-top: 80px;
  position: relative;
  /*top: 100px;*/
  max-height: 95%;
  min-height: 300px;
  min-width: 600px;
  background: white;
  z-index: 100;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.7);
  overflow: auto;
}
.modal .modal-header {
  width: 100%;
  min-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-header h3 {
  display: inline-block;
  margin: 0;
  line-height: 30px;
}
.modal .modal-header i.fa.fa-times {
  font-size: 30px;
  float: right;
  color: #9B9B9B;
  cursor: pointer;
}
.modal .modal-header i.fa.fa-times:hover {
  color: #1a75ff;
}
.add-cohort-modal {
  min-height: 70%;
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 1000;
  background: #fff;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.strict-modal {
  overflow: hidden;
}
.close-modal {
  float: right;
  font-size: 2em;
  margin: -8% 2%;
}
.close-mini-modal {
  margin: 5px;
}
.mini-modal-cal {
  width: 650px;
  margin: 5% auto;
}
.mini-modal-day.day {
  height: auto;
}
.active-mentor {
  border-left: 2px solid #1a75ff !important;
}
.new-cohort-form {
  margin: 50px 0;
}
.form-input {
  height: 3em;
  width: 60%;
  margin: 10px auto;
}
.form-btn-container {
  float: right;
  margin: 20px 20% 0 0;
}
.form-btn {
  height: 3em;
  width: 8em;
  margin: 0 0 0 10px;
}
.center {
  display: flex;
  justify-content: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dropdown-arrow {
  float: right;
  margin: -38px 153px 0 0;
}
.display-box-nonmodal {
  width: 475px;
  margin: 0;
}
.lesson-modal .flex1 {
  width: 100%;
}
.lesson-modal .form-control {
  margin: 10px 0;
}
.shift-wrapper {
  overflow: auto;
  width: 850px;
  overflow: initial;
  margin: 0 auto;
  padding-left: 150px;
  border-radius: 2px;
  border-top-left-radius: 0;
  position: relative;
}
.shift-wrapper .container {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  border-bottom: 2px solid #DFDFDF;
  padding: 3% 0 0 0;
}
.shift-wrapper .menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 100px;
}
.shift-wrapper .menu-bar .btn {
  float: right;
  margin-bottom: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 90px;
  background-color: #ECECEC;
  border: none;
}
.shift-wrapper .menu-bar .btn:hover {
  background-color: #d8d8d8;
}
.shift-wrapper .menu-bar .btn.active {
  background-color: #fff;
  -webkit-box-shadow: none;
}
.shift-wrapper .menu-bar .btn.active:hover {
  background-color: #fff;
}
.shift-wrapper .menu-bar .btn.active:focus {
  outline: 0;
}
.loading-gif {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-pics {
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 2px;
  background-color: rgba(174, 177, 181, 0);
}
.user-pics .width-container {
  margin: 0 auto;
}
.user-pics .add-students .flex-plus {
  background-color: #fff;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border: 1px solid #b0b0b0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-pics .add-students .flex-plus:hover {
  background-color: #e6e6e6;
}
.user-pics .add-students .flex-plus .fa {
  color: #1a75ff;
}
.pic-modal .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.pic-container {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  border-radius: 100px;
}
.pic-container img {
  max-width: 100%;
  border-radius: 100px;
  border: 1px solid #b0b0b0;
}
