/*rgba(0, 0, 0, 0.8) // Black*/
/*#DEDEDE // Border Gray*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f6f6ef !important;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 19px;
}
body {
  margin-top: 130px;
  height: calc(100% - 120px);
}
a {
  cursor: pointer;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
i:hover {
  color: #1a75ff;
}
/*ANGULAR STUFF*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/*APP STYLING*/
* {
  box-sizing: border-box;
}
/*HIGHLIGHT COLOR*/
::-moz-selection {
  background-color: #1481e3;
  color: #fff;
}
::selection {
  background-color: #1481e3;
  color: #fff;
}
.strong {
  font-weight: 600;
}
.btn {
  border-radius: 2px;
  min-height: 42px;
}
.page-title {
  text-align: center;
  margin: 120px 0 60px 0;
}
.space-top {
  margin-top: 20px;
}
.inline {
  display: inline-block;
  float: left;
}
.form-control,
.form-input {
  border: 1px solid #ccc;
  padding-left: 20px;
}
.form-control,
.form-control:focus,
.form-input,
.form-input:focus {
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}
.form-control,
.form-control:focus {
  padding: 20px 15px;
}
.select-control {
  margin-bottom: 10px;
  width: 100%;
  height: 42px;
  border-radius: 2px;
  padding-left: 20px;
}
.form-input:focus {
  border-color: #66afe9;
}
.mentor-image {
  max-width: 60px;
  float: left;
  margin: 0 20px;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.33);
}
.text-left {
  margin: 15px 25px;
}
.text {
  margin: 0 25px;
}
.bold-text {
  font-weight: 700;
}
.name {
  font-weight: 700;
}
.close-mini-modal {
  cursor: pointer;
}
.close-mini-modal:hover {
  color: #1a75ff;
}
.tooltip-wrapper {
  visibility: hidden;
  position: absolute;
}
.tooltip-wrapper .tooltip {
  position: absolute;
  min-width: 100px;
  color: #FFF;
  font-weight: 400;
  background: #5b5b5b;
  text-align: center;
  border-radius: 2px;
  top: -80px;
  margin-left: -25px;
  font-size: 12px;
  padding: 5px;
  opacity: 1;
}
.tooltip-wrapper .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #5b5b5b;
  position: absolute;
  top: -53px;
  margin-left: 19px;
}
.ta-toolbar {
  margin-bottom: 10px;
}
.alert-display {
  position: fixed;
  z-index: 9999;
  border-radius: 2px;
  top: 30px;
  right: 60px;
  box-shadow: 0 0 7px -4px #040404;
}
.alert-display .close {
  margin-left: 20px;
}
.portlet-placeholder {
  margin: 0;
  width: 13%;
  height: 153px;
  margin: 0 5px 5px 5px;
  background-color: #e6f0ff;
  border: 1px dotted #1a75ff;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.active-dragging {
  cursor: -webkit-grabbing;
  background-color: #fff;
  border-radius: 5px;
  -ms-transform: rotate(1.1deg);
  /* IE 9 */
  -webkit-transform: rotate(1.1deg);
  /* Safari */
  transform: rotate(1.1deg);
}
.full-height.column {
  height: 85%;
}
.pointer {
  cursor: pointer;
}
header.white {
  background-color: #fff;
  border-bottom: 1px solid #B9B9B9;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #262626;
  border-bottom: 1px solid #191919;
  z-index: 100;
}
header .section {
  height: 100%;
  display: flex;
  align-items: center;
}
header .left {
  float: left;
}
header .left a {
  height: 100%;
}
header .left a img {
  height: 100%;
  padding: 10px;
}
header .right {
  margin-right: 15px;
  float: right;
}
header .right a {
  color: #fff;
}
header .right p {
  margin: 0;
  line-height: 4;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
}
header .right p:hover {
  border-bottom: 2px solid #ff611a;
  background-color: #333333;
}
header .right .active-a {
  border-bottom: 2px solid #ff611a;
  background-color: #333333;
}
header .right .pic-container {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}
header .right .dropdown-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
header .right .header-dropdown {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  box-shadow: -1px 1px 5px -1px #757575;
  position: fixed;
  top: 53px;
  right: 20px;
}
header .right .header-dropdown hr {
  margin: 0;
}
header .right .header-dropdown a {
  color: #333;
}
header .right .header-dropdown .header-unit {
  width: 180px;
  height: 50px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
  align-items: center;
}
header .right .header-dropdown .header-unit:hover {
  background-color: #eee;
}
header .right .header-dropdown .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFFFFF;
  position: absolute;
  top: -5px;
  margin-left: 156px;
}
section.home {
  height: 100%;
}
section.home .section {
  width: 100%;
  background-color: #3686be;
}
section.home .banner {
  margin-top: -130px;
  height: 100vh;
  background: url("/public/images/kitten.png") 50% 50% no-repeat scroll;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.home .banner h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
section.home .banner .inline {
  margin: 20px 5px;
}
section.home .banner .inline.form-control {
  width: 250px;
  padding: 25px 15px;
}
section.home .banner .inline.btn-default {
  line-height: 40px;
  width: 90px;
  border: none;
  border-radius: 2px;
}
section.dashboard {
  min-height: 60%;
  /*
	 * Modal Section
	*/
}
section.dashboard .display-box {
  float: left;
  width: 27%;
  height: 150px;
  margin: 3%;
  margin-top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}
section.dashboard .display-box:hover {
  border: 1px solid #1a75ff;
  background-color: #eee;
  color: #1a75ff;
}
section.dashboard .display-box:hover .text-dashboard {
  color: #1a75ff;
}
section.dashboard .display-box.add-new {
  border: 1px solid #2ecc71;
}
section.dashboard .display-box.add-new:hover {
  border: 1px solid #1a75ff;
}
section.dashboard .text-dashboard {
  text-align: center;
}
section.dashboard .text-dashboard.name {
  font-weight: 600;
}
section.dashboard .icon-dashboard {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
section.dashboard .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
section.dashboard .calendar-link {
  text-decoration: none;
  color: #000;
}
section.dashboard .form-input {
  height: 3em;
  padding: 10px;
  margin: 10px 0;
  width: 145px;
}
section.dashboard .title {
  float: left;
}
section.dashboard .toggle-container {
  float: right;
}
section.dashboard .toggle {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: #29c210;
}
section.dashboard .toggle-off {
  float: right;
  margin: 0 20px 0 0;
  font-size: 3em;
  color: #000;
}
section.dashboard .right {
  margin: 0;
}
.btn-horizontal {
  margin-right: -3px;
}
.width-container {
  max-width: 1400px;
  margin: 0 auto;
}
.cal {
  width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  position: relative;
}
.cal h3 {
  margin: 0;
  margin-bottom: 20px;
}
.cal .day {
  height: 100px;
  padding: 20px;
  border-left: 2px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: -webkit-grab;
  overflow: hidden;
}
.cal .day:hover {
  border-left: 2px solid #C3C3C3;
}
.cal .day:hover p {
  color: #333;
}
.cal .day:hover .instructor-wrapper img {
  opacity: 0.9;
}
.cal .day p {
  color: #A4A4A4;
}
.cal .day .instructor-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-itmes: flex-start;
}
.cal .day .instructor-wrapper p {
  display: inline-block;
  padding: 20px;
  padding-top: 0;
  margin: 0;
}
.cal .day .instructor-wrapper img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 1px;
  opacity: 0.6;
  display: inline-block;
}
.cal .course-body {
  display: none;
  padding: 0 10px;
}
.cal .course-body .card {
  display: inline-block;
  width: 200px;
  min-height: 100px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: inherit;
  padding: 10px;
  padding-top: 30px;
  /*background-color: rgb(245, 245, 245);
			border: 1px solid #848484;*/
  word-break: break-all;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #C8C5C5;
  position: relative;
}
.cal .course-body .card .card-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  padding-left: 8px;
  background-color: #4A4F68;
  /*#464646;*/
}
.cal .course-body .card .card-title h4 {
  line-height: 25px;
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.cal .course-body .actions {
  position: absolute;
  top: 0;
  right: 0;
}
.cal .course-body .action {
  width: 25px;
  height: 25px;
  /*float: right;*/
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  border-radius: 1000px;
  cursor: pointer;
}
.cal .course-body .action:hover .glyphicon-ok {
  color: #09B314;
}
.cal .course-body .action:hover .glyphicon-thumbs-down {
  color: #ff611a;
}
.cal .course-body .action .glyphicon {
  color: #CFCFCF;
}
.cal .course-body .success-card {
  background-color: #C5FFDE;
  border: 1px solid #2ecc71;
}
.cal .course-title {
  padding: 0 10px;
}
.cal .day-date {
  color: #A4A4A4;
}
.cal .active-date {
  border-left: 2px solid #1a75ff !important;
  background-color: #FDFEFF;
  min-height: 100px;
  height: auto;
  cursor: text;
}
.cal .active-date .day-date {
  color: #1a75ff !important;
}
.cal .active-date .instructor-wrapper img {
  opacity: 0.9;
}
.cal .active-date p {
  color: #333;
}
.cal .active-date .course-title {
  font-weight: 600;
}
.cal .active-date .course-body {
  display: inherit;
}
.cal .weekend {
  background-color: rgba(247, 162, 124, 0.02);
  /*rgba(255, 97, 26, 0.01);*/
}
.cal .first-day {
  border-top: 1px solid #eee;
}
.cal .last-day {
  border-bottom: 1px solid #D5D5D5;
}
.after-cal {
  position: absolute;
  bottom: -5px;
  margin: 0 2px;
  left: 0;
  width: 994px;
  height: 4px;
  border: 1px solid red;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  border-top: 0;
  background-color: #fff;
}
.smaller-after {
  bottom: -9px;
  margin: 0 4px;
  left: 0;
  width: 990px;
  height: 4px;
}
.calendar-nav {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin: 0 2.5% 70px 2.5%;
}
.calendar-nav .navigate-btn {
  cursor: pointer;
}
.calendar-nav .navigate-btn:hover .fa {
  color: #1a75ff;
}
.calendar-nav .fa {
  cursor: pointer;
}
.calendar-nav .dimmed {
  color: #cac9c9;
}
.calendar-nav .dimmed .fa {
  cursor: not-allowed;
}
.calendar-nav .dimmed:hover {
  color: #cac9c9;
}
.calendar-nav .dimmed:hover .fa {
  color: #cac9c9;
}
.overall-container {
  width: 100%;
  max-height: 100%;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.overall-container .type-holder {
  position: absolute;
  bottom: -2px;
  right: 0;
  color: #ccc;
}
.overall-container .type-holder .instructor-type {
  display: block;
}
.overall-container .type-holder .pending {
  color: #ff611a;
}
.overall-container .type-holder .scheduled {
  color: #1a75ff;
}
.calendar-title {
  text-align: center;
}
.calendar-title .subtitle.date-info {
  color: #B2B2B2;
  font-size: 14px;
}
.calendar-title.offset {
  margin-top: -30px;
}
.calendar-text {
  color: #AAA;
}
.calendar-container {
  width: 13%;
  height: 153px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 5px 0 5px;
  margin: 0 5px 5px 5px;
  cursor: pointer;
  border: 1px solid #c3c3c3;
  position: relative;
}
.calendar-container:hover {
  border: 1px solid #1a75ff;
}
.calendar-container .display-box.add-new {
  position: absolute;
  width: calc(100% - 10px);
  top: 5px;
  left: 5px;
}
.current-day {
  width: 13%;
  height: 153px;
  border-radius: 4px;
  padding: 5px 5px 0 5px;
  margin: 0 5px 5px 5px;
  cursor: pointer;
  position: relative;
  border: 1px solid #61EA2B;
  background-color: #EEFFEF;
}
.calendar-container:nth-child(7n+6) {
  background-color: #F4F4F4;
}
.calendar-container:nth-child(7n+7) {
  background-color: #F4F4F4;
}
.display-box {
  float: left;
  width: calc(100% - 10px);
  margin-top: 0;
  border-radius: 2px;
  cursor: pointer;
  height: 95%;
}
.display-box .fa-arrows {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #AAA;
  cursor: -webkit-grab;
}
.display-box .fa-arrows:hover {
  color: #1a75ff;
}
.display-box p {
  border-radius: 2px;
  padding: 0px 15px;
  border: 1px solid transparent;
  line-height: 21px;
  margin-bottom: 0px;
}
.week-day-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
  margin-bottom: -20px;
}
.dayOfWeek {
  min-width: 13%;
  text-align: center;
}
.go-back {
  position: fixed;
  top: 59px;
  right: 0;
}
.go-back .btn {
  padding: 10px;
  display: block;
  float: right;
  width: 165px;
}
section.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -130px;
}
section.registration .unit {
  height: 100%;
}
section.registration .left {
  background: url("/public/images/welcome.png") 50% 50% no-repeat scroll;
  background-size: cover;
  width: 57%;
}
section.registration .right {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.registration .right .inner-right {
  width: 100%;
  max-width: 380px;
}
section.registration .right .inner-right .form-control {
  margin-bottom: 10px;
}
section.registration .right .inner-right .btn {
  line-height: 2;
  width: 100px;
}
.modal-cover {
  z-index: 100;
}
.modal {
  border-radius: 2px;
  padding: 20px;
  padding-top: 80px;
  position: relative;
  /*top: 100px;*/
  max-height: 95%;
  min-height: 50px;
  min-width: 600px;
  background: white;
  z-index: 100;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.7);
  overflow: auto;
  display: block;
}
.modal .modal-header {
  width: 100%;
  min-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-header h3 {
  display: inline-block;
  margin: 0;
  line-height: 30px;
}
.modal .modal-header i.fa.fa-times {
  font-size: 30px;
  float: right;
  color: #9B9B9B;
  cursor: pointer;
}
.modal .modal-header i.fa.fa-times:hover {
  color: #1a75ff;
}
.lesson-modal {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 10;
  width: 50%;
  height: 80%;
  /*max-height: 85%;*/
  overflow: scroll;
  overflow: auto;
}
.lesson-modal .flex {
  width: 100%;
}
.lesson-modal .form-control {
  margin: 10px 0;
}
.add-cohort-modal {
  min-height: 50px;
  width: 45%;
  position: absolute;
  top: 15%;
  left: 30%;
  z-index: 1000;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.add-cohort-modal .modal-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.add-cohort-modal .modal-title img {
  max-height: 100%;
}
.add-cohort-modal .modal-title i {
  float: right;
}
.add-cohort-modal .modal-divider {
  display: flex;
  width: 100%;
  margin-top: 70px;
}
.add-cohort-modal .modal-divider .divided {
  width: 50%;
  margin: 20px;
}
.add-cohort-modal .modal-divider .divided-left {
  border-right: 1px solid #eee;
}
.modal-padding {
  padding: 20px;
}
.modal-padding .schedule-section {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.divided label {
  display: block;
  margin-left: 20px;
}
.divided label input {
  margin-right: 10px;
}
.strict-modal {
  overflow: hidden;
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}
.close-mini-modal {
  margin: 5px;
}
.mini-modal-cal {
  max-width: 100%;
  width: 650px;
  margin: 5% auto;
}
.mini-modal-day.day {
  height: auto;
}
.active-mentor {
  border-left: 2px solid #1a75ff !important;
}
.new-cohort-form {
  margin: 50px 0;
}
.form-input {
  height: 3em;
  width: 60%;
  margin: 10px auto;
}
.form-btn-container {
  display: flex;
  margin: 0 0 0 18.5%;
  /*float: right;
	margin: 20px 20% 0 0;*/
}
.form-btn {
  height: 3em;
  width: 8em;
  margin: 0 0 0 10px;
}
.center {
  display: flex;
  justify-content: center;
  /*margin: 0 auto;*/
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dropdown-arrow {
  float: right;
  margin: -38px 153px 0 0;
}
.display-box-nonmodal {
  width: 475px;
  margin: 0;
}
.add-cohort-modal {
  overflow: auto;
}
.mentos-list {
  min-height: 200px;
}
.flex-row-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#max-avatar-size {
  max-width: 60px;
  max-height: 60px;
}
.mentos-list {
  min-height: 150px;
  width: 150px;
  border: 1px solid black;
}
#student-list {
  width: 150px;
}
.shift-wrapper.limited-width {
  padding: 0 150px;
}
.shift-wrapper {
  overflow: auto;
  width: 850px;
  overflow: initial;
  margin: 0 auto;
  padding-left: 150px;
  border-radius: 2px;
  border-top-left-radius: 0;
  position: relative;
}
.shift-wrapper .container {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  border-bottom: 2px solid #DFDFDF;
  padding: 3% 0 0 0;
}
.shift-wrapper .container .newer-section {
  border: 1px solid #DCDCDC;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-radius: 2px;
}
.shift-wrapper .container .newer-section:hover {
  cursor: pointer;
  background-color: #eee;
}
.shift-wrapper .menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 100px;
}
.shift-wrapper .menu-bar .btn {
  float: right;
  margin-bottom: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 90px;
  background-color: #ECECEC;
  border: none;
}
.shift-wrapper .menu-bar .btn:hover {
  background-color: #d8d8d8;
}
.shift-wrapper .menu-bar .btn.active {
  background-color: #fff;
  -webkit-box-shadow: none;
}
.shift-wrapper .menu-bar .btn.active:hover {
  background-color: #fff;
}
.shift-wrapper .menu-bar .btn.active:focus {
  outline: 0;
}
.loading-gif {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-pics {
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  margin: -70px 0 80px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #B5B5B5;
  position: relative;
}
.user-pics .width-container {
  margin: 0 auto;
}
.user-pics .add-students .flex-plus {
  background-color: #fff;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border: 1px solid #b0b0b0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-pics .add-students .flex-plus:hover {
  background-color: #e6e6e6;
}
.user-pics .add-students .flex-plus .fa {
  color: #1a75ff;
}
.pic-modal .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.pic-container {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  border-radius: 100px;
}
.pic-container a {
  cursor: default;
}
.pic-container img {
  max-width: 100%;
  border-radius: 100px;
}
.pic-container .has-github {
  cursor: pointer;
}
.pic-container.left-space {
  margin-left: 10px;
}
section.smaller-wrapper .smaller-padding {
  padding: 0 50px;
}
section.smaller-wrapper .larger-padding {
  padding: 0 150px;
}
section.smaller-wrapper .shift-wrapper {
  /*padding: 0 150px;*/
  margin-bottom: 40px;
}
section.smaller-wrapper .shift-wrapper .profile-header {
  background-color: #eee;
  padding: 15px;
  font-weight: 600;
}
section.smaller-wrapper .shift-wrapper .container {
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  padding: 0;
  position: relative;
  word-wrap: break-word;
}
section.smaller-wrapper .shift-wrapper .container .profile-container-body {
  padding: 20px;
}
section.smaller-wrapper .shift-wrapper .container .profile-container-body .pic-container {
  float: right;
  background-color: #fff;
  padding: 12px;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -1px #000000;
  position: absolute;
  top: 5px;
  right: 2px;
}
section.smaller-wrapper .shift-wrapper .container .profile-container-body form {
  max-width: 400px;
}
section.smaller-wrapper .shift-wrapper .container .profile-container-body form .form-control {
  margin-bottom: 15px;
}
section.smaller-wrapper .shift-wrapper .container .profile-container-body form .btn {
  height: 42px;
}
section.lesson .shift-wrapper {
  width: 1000px;
}
section.lesson .shift-wrapper .container {
  padding: 40px;
}
section.lesson .fa-pencil {
  float: right;
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  margin-left: 20px;
}
section.lesson .donzo-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  color: #CAC6C6;
}
section.lesson .donzo-container input[type=checkbox] {
  top: 15px;
  right: 15px;
  margin-left: 10px;
}
section.lesson .container.extra-padding {
  padding: 20px 40px;
  margin-top: 20px;
}
section.lesson .container.extra-padding.done-border {
  border: 1px solid #2ecc71;
}
section.lesson .delete-section {
  color: #B06A6A;
  float: right;
  cursor: pointer;
}
section.lesson .delete-section:hover {
  color: red;
}
section.lesson .fa-trash-o:hover {
  color: red !important;
}
section.lesson .topic-wrapper {
  display: inline-block;
  width: 100%;
}
section.lesson .topic-wrapper h3 {
  display: inline-block;
}
section.lesson .topic-wrapper input {
  font-size: 21px;
  width: 80%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #B0B0B0;
}
section.lesson .topic-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #1a75ff;
}
section.lesson .ta-toolbar {
  margin-bottom: 10px;
}
section.cohort-settings.main-dashboard {
  position: absolute;
  max-height: none;
  overflow: inherit;
}
section.cohort-settings {
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 270px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  overflow: auto;
  z-index: 10;
  top: 0;
}
section.cohort-settings .fa {
  color: inherit;
}
section.cohort-settings .fa:hover {
  color: inherit;
}
section.cohort-settings .flex-pants {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
section.cohort-settings .sub-dsh {
  width: 450px;
  min-height: 50px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e4e3e3;
  border-bottom: 2px solid #dcdbdb;
  position: relative;
  padding-top: 70px;
  border-radius: 2px;
}
section.cohort-settings .sub-dsh .mini-header {
  background-color: #1481e3;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  font-weight: 600;
}
section.cohort-settings .sub-dsh form .btn {
  margin-top: 15px;
}
section.cohort-settings .sub-dsh .sub-section {
  padding: 15px;
  margin-bottom: 10px;
  color: #333333;
  border: 1px solid #e1e1e1;
}
section.cohort-settings .sub-dsh .sub-section:hover {
  background-color: #eeeeee;
}
section.cohort-settings .sub-dsh .sub-section img {
  max-width: 50px;
  border-radius: 600px;
  display: inline-block;
}
section.cohort-settings .sub-dsh .sub-section .text-wrapper {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
section.cohort-settings .sub-dsh form.cohort-section .form-control {
  margin-bottom: 10px;
}
section.cohort-settings .sub-dsh form.cohort-section .btn.btn-default {
  margin-top: 0;
}
section.cohort-settings .space-above {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
section.cohort-settings .space-above .student-display img {
  margin-left: 10px;
}
section.cohort-settings .student-display {
  display: flex;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
}
section.cohort-settings .student-display img {
  max-width: 50px;
  border-radius: 600px;
  display: inline-block;
}
section.cohort-settings .student-display .s-info {
  display: inline-block;
  margin: 5px 10px;
}
section.cohort-settings .student-display .s-info p {
  margin: 0;
}
section.cohort-settings .student-display .s-info .s-name {
  font-weight: 700;
  display: inline-block;
}
section.cohort-settings .student-display .s-info .s-email {
  display: block;
}
section.cohort-settings .student-display .s-info a {
  position: absolute;
  top: 5px;
  right: 5px;
}
section.cohort-settings .student-display .btn.align-right {
  position: absolute;
  right: 0;
}
section.cohort-settings .student-display.pointer:hover {
  background-color: #eee;
}
section.cohort-settings .student-to-assign {
  border-bottom: 1px solid #eee;
}
section.cohort-settings .student-to-assign .flex-row-space-between {
  justify-content: space-around;
}
section.cohort-settings .student-to-assign .flex-row-space-between div {
  width: 49%;
  display: inline-block;
}
section.cohort-settings .student-to-assign .flex-row-space-between div h4 {
  font-size: 16px;
}
section.cohort-settings .dsh-menu {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #2f353f;
  box-shadow: inset -4px 0px 19px -3px #303338;
}
section.cohort-settings .dsh-menu .dsh-item {
  height: 50px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding: 0 30px;
}
section.cohort-settings .dsh-menu .dsh-item:hover {
  background-color: #3a414e;
}
section.cohort-settings .dsh-menu .dsh-item p {
  margin: 0 8px;
  color: #fff;
  line-height: 50px;
  display: inline-block;
}
section.cohort-settings .dsh-menu .dsh-item.active-dsh {
  background-color: #242930;
}
.whole-thing {
  display: flex;
  flex-direction: row-reverse;
}
.lil-guy {
  font-size: .9em;
  color: #999;
  font-style: italic;
}
.just-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.be-bold {
  font-weight: bold;
}
.popup-list-left {
  position: fixed;
  bottom: -1px;
  left: -1px;
  padding: 70px 20px 20px 20px;
  border-radius: 2px;
  background-color: #fff;
  width: 250px;
  box-shadow: 0 0 20px 0px #C8C8C8;
}
.popup-list-left .just-flex.align-center {
  position: relative;
}
.popup-list-left .btn {
  float: right;
  position: absolute;
  right: 30px;
  top: 4px;
}
.the-coolest-header {
  background-color: #1481e3;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  font-weight: 600;
}
.the-coolest-header .top-right-icon {
  position: absolute;
  top: 0;
  right: 2px;
  line-height: 50px;
  padding-right: 10px;
  cursor: pointer;
  color: #fff;
}
.the-coolest-header .top-right-icon:hover {
  font-weight: bold;
  color: #f9f9f9;
}
.bottom-left-bubble {
  background-color: #1481e3;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 250px;
  position: fixed;
  bottom: -1px;
  left: -1px;
  padding: 0 20px;
  font-weight: 600;
  border: 1px solid #e4e3e3;
}
.bottom-left-bubble .top-right-icon {
  position: absolute;
  top: 0;
  right: 2px;
  line-height: 50px;
  padding-right: 10px;
  cursor: pointer;
  color: #fff;
}
.bottom-left-bubble .top-right-icon:hover {
  font-weight: bold;
  color: #f9f9f9;
}
.relative {
  position: relative;
}
.grey-hover-party {
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  line-height: 60px;
  padding: 0 20px 20px 20px;
}
.grey-hover-party:hover {
  background-color: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0);
}
.be-center {
  text-align: center;
}
