<header-directive scroll-top></header-directive>
<loading-gif ng-if="loading"></loading-gif>

<h3 class="page-title">{{course.name}}</h3>




<div class="user-pics">
	<div class="width-container">
		<div class="pic-container" ng-repeat="student in students" ng-attr-titletext="{{student.name}}" tio-tooltip>
			<img ng-src="{{student.avatar}}">
			<span class="tooltip-wrapper">
				<p class="tooltip"></p>
				<span class="arrow-down"></span>
			</span>
		</div>

		<div class="pic-container add-students" ng-click="openModal()">
			<div class="flex-plus">
				<i class="fa fa-user-plus"></i>
			</div>
		</div>

		<div class="pic-container add-students" ng-click="toggleSubscribeCohortModal()">
			<div class="flex-plus">
				<i class="fa fa-users"></i>
			</div>
		</div>

	</div>
</div>

<subscribe-modal
	ng-show="toggleSubscribeCohort"
	toggle-subscribe-cohort="toggleSubscribeCohort"
	toggle-subscribe-cohort-modal="toggleSubscribeCohortModal()">
</subscribe-modal>


<span class="pic-modal" ng-show="studentModal">
	<div class="modal-wrapper lesson-modal">
		<div>
			<div class="modal-cover flex-row content-center align-items-center" ng-click="closeModal()"></div>
			<div class="modal flex-column align-items-center">
				<div class="modal-header">
					<h3>Invite students to this cohort:</h3>
					<i class="fa fa-times" ng-click="closeModal()"></i>
				</div>


				<div class="width100">

					<form ng-submit="sendStudentInvite(newStudents)">
						<textarea ng-model="newStudents" class="form-control" placeholder="Comma-separated email(s)"></textarea>
						<button class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</span>


<!-- <form ng-submit="sendStudentInvite(students)">
	<textarea ng-model="students" class="form-control" placeholder="Comma-separated email(s)"></textarea>
	<button class="btn btn-default">Submit</button>
</form> -->

<timeline events="events"></timeline>