<header-directive scroll-top></header-directive>
<loading-gif ng-if="loading"></loading-gif>

<div class="calendar-nav">
	<!-- <i class="previous-month fa fa-chevron-left" ng-class="{ active: currentSegment < 1 }" ng-click="previousMonth()"></i> -->

	<!-- IF NO LEFT -->
	<div ng-if="currentSegment < 1" class="navigate-btn dimmed">
		<i class="fa fa-chevron-left dimmed"></i>
	</div>
	<!-- IF LEFT IS OPTION -->
	<div ng-if="currentSegment > 0" ng-click="previousMonth()" class="navigate-btn"
		 ng-click="previousMonth()">
		<i class="fa fa-chevron-left"></i>
	</div>

	<div class="calendar-title offset">
		<h1>{{ currentCohort.name }}</h1>
		<h4 class="subtitle date-info">{{ currentCohort.startDate | date: fullDate }} - {{ arrayLength[arrayLength.length - 1].day | date: fullDate }}</h4>
	</div>

	<i class="next-month fa fa-chevron-right"  ng-click="nextMonth()"></i>
</div>

<div class="week-day-container">
	<div class="dayOfWeek" ng-repeat="weekDay in dayOfWeek">
		<span>{{ weekDay }}</span>
	</div>
</div>


<div class="overall-container">

	<div class="calendar-container" ng-click="viewDay(day)" ng-repeat="day in activeMonth">
	<hr><hr><hr><hr><hr><hr>
		<div class="display-box add-new column">
			<!-- <span class="text-dashboard calendar-text">{{ day.day | date: 'd' }}</span> -->
			<span class="text-dashboard calendar-text">{{ day.day | date: 'MMM d' }}</span>

			<div class="column full-height">
				<div>
					<p ng-if="day.topic">{{ day.topic }}</p>
				</div>
			</div>
			<div class="instructor-type" ng-show="!day.instructor && user.userType !== 'student'">available</div>
			<div class="instructor-type" style="color: #2ecc71" ng-show="day.instructor == user._id">I'm teaching</div>

	<!-- <div class="calendar-container" ng-click="viewDay(day)" ng-repeat="day in currentCohort.dates">
		<hr><hr><hr><hr><hr><hr>
		
		<div class="display-box add-new">
			<span class="text-dashboard calendar-text">{{ day | date: 'd' }}</span>
			<p>{{ day.name }}</p>
			<div ng-show="!day.instructor && user.userType !== 'student'">available</div> -->

		</div>
	</div>
</div>
