<header-directive scroll-top></header-directive>
<loading-gif ng-if="loading"></loading-gif>
<cohort-settings ng-show="settingsView"></cohort-settings>
<display-message></display-message>

<div class="width-container">



<!-- SEE STUDENTS VIEW -->
<div class="user-pics" ng-if="studentDisplay">
	<div class="width-container">
		<div class="pic-container" ng-repeat="student in currentCohort.students" ng-attr-titletext="{{student.userId.name}}" tio-tooltip>
			<a ng-href="{{student.userId.githubUrl}}" target="_blank">
				<img ng-src="{{student.userId.avatar}}"
					 ng-class="{'has-github': student.userId.githubUrl}">
			</a>
			<span class="tooltip-wrapper">
				<p class="tooltip"></p>
				<span class="arrow-down"></span>
			</span>
		</div>
	</div>
</div>



<div class="calendar-nav">

	<!-- IF NO LEFT -->
	<div ng-if="currentSegment < 1" class="navigate-btn dimmed">
		<i class="fa fa-chevron-left dimmed"></i>
	</div>
	<!-- IF LEFT IS OPTION -->
	<div ng-if="currentSegment > 0" ng-click="previousMonth()" class="navigate-btn"
		 ng-click="previousMonth()">
		<i class="fa fa-chevron-left"></i>
	</div>

	<div class="calendar-title offset">
		<h1>{{ currentCohort.name }}</h1>
		<h4 class="subtitle date-info">{{ currentCohort.startDate | date: fullDate }} - {{ arrayLength[arrayLength.length - 1].day | date: fullDate }}</h4>
	</div>

	<i class="next-month fa fa-chevron-right"  ng-click="nextMonth()"></i>
</div>

<div class="week-day-container">
	<div class="dayOfWeek" ng-repeat="weekDay in dayOfWeek">
		<span>{{ weekDay }}</span>
	</div>
</div>


<div class="overall-container">

	<div class="calendar-container" ng-click="viewDay(day, $index)" ng-repeat="day in activeMonth" highlight day="day">
	<hr><hr><hr><hr><hr><hr>
		<div class="display-box add-new column">
			<span class="text-dashboard calendar-text">{{ day.day | date: 'MMM d' }}</span>

			<div class="column full-height">
				<div>
					<p ng-if="day.topic">{{ day.topic }}</p>
				</div>
			</div>
			<div class="type-holder">
				<div class="instructor-type" ng-show="!day.instructor && (user.userType.instructor && !findMyId(day.wantsToTeach, user))">available</div>
				<div class="instructor-type pending" ng-show="findMyId(day.wantsToTeach, user) && !day.instructor">pending</div>
				<div class="instructor-type pending" ng-show="day.wantsToTeach.length && (user.userType.mentor || user.userType.admin)">requested</div>
				<div class="instructor-type scheduled" ng-show="(user.userType.mentor || user.userType.admin) && day.instructor && day.instructor != user._id">scheduled</div> <!-- !day.wantsToTeach.length && --> 
				<div class="instructor-type" style="color: #2ecc71" ng-show="day.instructor == user._id">I'm teaching</div>
			</div>

	<!-- <div class="calendar-container" ng-click="viewDay(day)" ng-repeat="day in currentCohort.dates">
		<hr><hr><hr><hr><hr><hr>
		
		<div class="display-box add-new">
			<span class="text-dashboard calendar-text">{{ day | date: 'd' }}</span>
			<p>{{ day.name }}</p>
			<div ng-show="!day.instructor && user.userType !== 'student'">available</div> -->

		</div>
	</div>
</div>

</div>
