<section class="cohort-settings">
	<!-- <i class="fa fa-times" ng-click="toggleSettingsView()"></i> -->

	<!-- MENU -->
	<div class="dsh-menu">

		<div class="dsh-item active-dsh" ng-click="activateMenu('students')" active-menu>
			<i class="fa fa-paw"></i>
			<p>Students</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('mentors')" active-menu>
			<i class="fa fa-hand-lizard-o"></i>
			<p>Mentors</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('instructors')" ng-if="!user.userType.instructor && !user.userType.student" active-menu>
			<i class="fa fa-hand-spock-o"></i>
			<p>Instructors</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('requests')" ng-if="!user.userType.instructor && !user.userType.student" active-menu>
			<i class="fa fa-diamond"></i>
			<p>Teaching requests</p>
		</div>

	</div>

	<!-- STUDENT SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'students'">

		<div class="sub-dsh">
			<div class="mini-header">Registered students</div>
			<div class="student-display" ng-repeat="student in currentCohort.students">
				<a ng-href="{{student.githubUrl}}" target="_blank">
					<img ng-src="{{student.avatar}}"
						 ng-class="{'has-github': student.githubUrl}">
				</a>
				<span class="s-info">
					<p class="s-name">{{student.name}}</p>
					<p class="s-email">{{student.local.email}}</p>
					<a ng-href="{{student.githubUrl}}" ng-if="student.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
				</span>
			</div>
		</div>


		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Invite new students</div>
			<form ng-submit="sendStudentInvite(newStudents)">
				<textarea ng-model="newStudents" class="form-control" placeholder="Comma-separated email(s)"></textarea>
				<button class="btn btn-default">Submit</button>
			</form>
		</div>

	</div>


	

	<!-- MENTOR SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'mentors'">

		<div class="sub-dsh">
			<div class="mini-header">Cohort mentors</div>
			<div class="student-display" ng-repeat="mentor in mentors">
				<a ng-href="{{mentor.userId.githubUrl}}" target="_blank">
					<img ng-src="{{mentor.userId.avatar}}"
						 ng-class="{'has-github': mentor.userId.githubUrl}">
				</a>
				<span class="s-info">
					<p class="s-name">{{mentor.userId.name}}</p>
					<p class="s-email">{{mentor.userId.local.email}}</p>
					<a ng-href="{{mentor.userId.githubUrl}}" ng-if="mentor.userId.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
				</span>

				<div class="btn-container">
					<button class="btn btn-default" type="submit">Assign</button>
				</div>

			</div>
		</div>

		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Invite new mentors</div>
			<form ng-submit="sendMentorInvite(newMentors)">
				<textarea ng-model="newMentors" class="form-control" placeholder="Comma-separated email(s)"></textarea>
				<button class="btn btn-default">Submit</button>
			</form>
		</div>

	</div>




	<!-- INSTRUCTOR SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'instructors'">

		<div class="sub-dsh">
			<div class="mini-header">Cohort instructors</div>
			<div ng-if="!cohortInstructors.length">No instructors have been assigned to this cohort yet.</div>
			<div class="student-display" ng-repeat="instructors in cohortInstructors">
				<a ng-href="{{instructors.userId.githubUrl}}" target="_blank">
					<img ng-src="{{instructors.userId.avatar}}"
						 ng-class="{'has-github': instructors.userId.githubUrl}">
				</a>
				<span class="s-info">
					<p class="s-name">{{instructors.userId.name}}</p>
					<p class="s-email">{{instructors.userId.local.email}}</p>
					<a ng-href="{{instructors.userId.githubUrl}}" ng-if="instructors.userId.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
				</span>
			</div>
		</div>




		<div class="sub-dsh">
			<!-- ASSIGN BY EMAIL -->
			<div class="mini-header">Invite instuctors</div>
			<form ng-submit="sentInstructorInvite(newInstructors)">
				<textarea ng-model="newInstructors" class="form-control" placeholder="Comma-separated email(s)"></textarea>
				<button class="btn btn-default">Send invite</button>
			</form>

			<!-- ASSIGN EXISTING INSTRUCTOR -->
			<div class="space-above" ng-if="instructors.length > 0">
				<div class="student-display" ng-repeat="instructor in instructors">
					<input type="checkbox" ng-model="instructor.selected">
					<a ng-href="{{instructor.userId.githubUrl}}" target="_blank">
						<img ng-src="{{instructor.userId.avatar}}"
							 ng-class="{'has-github': instructor.userId.githubUrl}">
					</a>
					<span class="s-info">
						<p class="s-name">{{instructor.userId.name}}</p>
						<p class="s-email">{{instructor.userId.local.email}}</p>
						<a ng-href="{{instructor.userId.githubUrl}}" ng-if="instructor.userId.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
					</span>
				</div>

				<button ng-if="instructors.length > 0" class="btn btn-default" ng-click="assignExistingInstructors(instructors)">Assign instructors</button>
			</div>
		</div>

	</div>





	<!-- MENTOR SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'requests'">

		<div class="sub-dsh">
			<div class="mini-header">Teaching request list</div>
			<div ng-repeat="day in currentCohort.curriculum[0]">
				<div ng-if="day.wantsToTeach.length">
					<div ng-click="logger($index); selectDay($index)">{{day.topic}}</div>
					<div>{{day.day | date: 'shortDate'}}</div>
					<!-- <div ng-repeat="instructor in day.wantsToTeach">
						<div class="pic-container" ng-attr-titletext="{{instructor.name}}" style="flex" tio-tooltip>
							<a ng-href="{{instructor.githubUrl}}" target="_blank">
								<img ng-src="{{instructor.avatar}}"
									 ng-class="{'has-github': instructor.githubUrl}">
							</a>
							<span class="tooltip-wrapper">
								<p class="tooltip"></p>
								<span class="arrow-down"></span>
							</span>
						</div>
						<button ng-click="assignInstructor(day, instructor, $parent.$index)">Assign</button>
					</div> -->
				</div>
			</div>
		</div>

		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Instructors</div>
			<div ng-repeat="instructor in wantsToTeach">
				<div class="pic-container" ng-attr-titletext="{{instructor.name}}" style="flex" tio-tooltip>
					<a ng-href="{{instructor.githubUrl}}" target="_blank">
						<img ng-src="{{instructor.avatar}}"
							 ng-class="{'has-github': instructor.githubUrl}">
					</a>
					<span class="tooltip-wrapper">
						<p class="tooltip"></p>
						<span class="arrow-down"></span>
					</span>
				</div>
				<button ng-click="assignInstructor(currentCohort.curriculum[0][importantIndex], instructor, importantIndex)">Assign</button>
			</div>
		</div>

	</div>







</section>