<header-directive scroll-top></header-directive>
<loading-gif ng-if="loading"></loading-gif>

<div class="calendar-nav">
	<i class="fa fa-arrow-circle-left" ng-click="previousMonth()"></i>
	<span class="calendar-title">{{ currentCohort.name }} - {{ currentCohort.startDate | date: fullDate }}</span>
	<i class="fa fa-arrow-circle-right" ng-click="nextMonth()"></i>
</div>

<div class="week-day-container">
	<div class="dayOfWeek" ng-repeat="weekDay in dayOfWeek">
		<span>{{ weekDay }}</span>
	</div>
</div>


<div class="overall-container">

	<div class="calendar-container" ng-click="viewDay(day)" ng-repeat="day in currentCohort.curriculum">
	<hr><hr><hr><hr><hr><hr>
		<div class="display-box add-new column">
			<span class="text-dashboard calendar-text">{{ date | date: 'd' }}</span>

			<sortable>
				<div class="column full-height">
					<div>
						<p ng-if="day.topic" class="portlet-header">{{ day.topic }}</p>
					</div>
				</div>
			</sortable>
			<div class="instructor-type" ng-show="!day.instructor && user.userType !== 'student'">available</div>
		</div>
	</div>
</div>
