<header-directive scroll-top></header-directive>
<loading-gif ng-if="loading"></loading-gif>
<div class="width-container">


<div class="calendar-nav">
	<!-- IF NO LEFT -->
	<div ng-if="currentSegment < 1" class="navigate-btn dimmed">
		<i class="fa fa-chevron-left dimmed"></i>
	</div>
	<!-- IF LEFT IS OPTION -->
	<div ng-if="currentSegment > 0" ng-click="previousMonth()" class="navigate-btn"
		 ng-click="previousMonth()">
		<i class="fa fa-chevron-left"></i>
	</div>


	<span class="calendar-title">{{ currentCourse.title }}</span>

	<i class="next-month fa fa-chevron-right"  ng-click="nextMonth()"></i>
</div>

<div class="week-day-container">
	<div class="dayOfWeek" ng-repeat="weekDay in dayOfWeek">
		<span>{{ weekDay }}</span>
	</div>
</div>

<sortable>
<div class="overall-container column">
	<div class="calendar-container portlet-content" ng-click="viewDay(day)" ng-repeat="day in activeMonth" id="day{{day._id}}">
	<hr><hr><hr><hr><hr><hr>


		<div class="display-box add-new">
			<span class="text-dashboard calendar-text">{{ day.day }}</span>
			<i class="fa fa-arrows portlet-header"></i>

				<div class="full-height">
					<div>
						<p ng-if="day.topic" id="{{day.lesson._id}}">{{ day.topic }}</p>
					</div>
				</div>

		</div>
	</div>
</div>
<sortable>

</div>

<!-- DEPRECATED -->
	<!-- IF NO RIGHT -->
	<!-- <div ng-if="currentSegment === (activeMonth.length - 1)"
		 class="navigate-btn dimmed">
		<i class="fa fa-chevron-right dimmed"></i>
	</div> -->
	<!-- IF RIGHT IS OPTION -->
	<!-- <div ng-if="currentSegment !== (activeMonth.length - 1)" ng-click="nextMonth()"
		 class="navigate-btn">
		<i class="fa fa-chevron-right"></i>
	</div> -->