<header-directive></header-directive>
<timeline>
</timeline>

<div class="flex-column align-items-center">
	<input ng-model="topic" placeholder="Topic" required/>
	<br />
	<div>
		<p>Objectives:</p>
		<div class="flex-row space-between" ng-repeat="objective in objectives track by $index">
			<p>{{objective}}</p><p ng-click="removeObjective($index)">x</p>
		</div>


		<form ng-submit="addObjective()">
			<input type="text" ng-model="text" placeholder="new objective"/>
			<!-- <input type="submit" id="submit" value="Submit"/> -->
			<!-- <button ng-click="addObjective()">submit</button> -->
		</form>


	</div>
	<br />


	<div>
		<p>Pre-Readings:</p>
		<div class="flex-row space-between" ng-repeat="obj in preReadings track by $index">
			<a href="{{obj.url}}"><p>{{obj.title}}</p></a><p ng-click="removePreReading($index)">x</p>
		</div>
		<form ng-submit="addPreReading(title, url)">
			<input type="text" ng-model="title" placeholder="title"/>
			<input type="text" ng-model="url" placeholder="url"/>
			<input type="submit" id="submit" value="Submit" hidden/>
		</form>
	</div>
	<br />


	<div>
		<p>Mini-Project:</p>
		<div class="flex-row space-between" ng-repeat="mini in miniProjects track by $index">
			<a href="{{mini.url}}"><p>{{mini.name}}</p></a><p ng-click="removeMiniProject($index)">x</p>
		</div>
		<form ng-submit="addMiniProject(miniProject, miniProjectUrl)">
			<input ng-model="miniProject" placeholder="name"/>
			<input ng-model="miniProjectUrl" placeholder="url"/>
			<input type="submit" id="submit" value="Submit" hidden/>
		</form>
	</div>
	<br />
	<div>
		<p>Project:</p>
		<div class="flex-row space-between" ng-repeat="proj in projects track by $index">
			<a href="{{proj.url}}"><p>{{proj.name}}</p></a><p ng-click="removeProject($index)">x</p>
		</div>
		<form ng-submit="addProject(project, projectUrl)">
			<input ng-model="project" placeholder="name"/>
			<input ng-model="projectUrl" placeholder="url"/>
			<input type="submit" id="submit" value="Submit" hidden/>
		</form>
	</div>
	<br />
	<div>
		<p>Additional Readings:</p>
		<div class="flex-row space-between" ng-repeat="reading in readings track by $index">
			<a href="{{reading.url}}"><p>{{reading.title}}</p></a><p ng-click="removeReading($index)">x</p>
		</div>
		<form ng-submit="addReading(readTitle, readUrl)">
			<input type="text" ng-model="readTitle" placeholder="title"/>
			<input type="text" ng-model="readUrl" placeholder="url"/>
			<input type="submit" id="submit" value="Submit" hidden/>
		</form>
	</div>
	<br />
	<!-- <input ng-model="teacher" placeholder="teacher"/> -->
	<button ng-click="createLesson(topic, objectives, preReadings, miniProject, project, additionalReadings, teacher)">submit</button>
</div>