<header-directive></header-directive>
<div class="backdrop" ng-show="backdropVisible"></div>


<section class="dashboard">

	<div class="shift-wrapper">
		<div class="menu-bar">

			<button ng-click="activateInstructorSchedule()" class="btn btn-default"
				ng-class="{active: instructorTab === 'instructorSchedule' }"
				ng-if="user.userType === 'instructor'">Schedule</button>

			<button ng-click="activateCourses()" class="btn btn-default"
					ng-class="{ active: activeTab === 'courses' }" 
					ng-if="user.userType === 'admin' || user.userType === 'mentor'">Courses</button>
			

			<button ng-click="activateCohorts()" class="btn btn-default"
					ng-class="{ active: activeTab === 'cohorts' }">Cohorts</button>

			<button ng-click="activateMentors()" class="btn btn-default"
					ng-class="{ active: activeTab === 'mentors' }"
					ng-if="user.userType === 'admin' || user.userType === 'mentor'">Mentors</button>

			<button ng-click="activateTeachers()" class="btn btn-default"
				ng-class="{active: activeTab === 'teachers' }"
				ng-if="user.userType === 'admin' || user.userType === 'mentor'">Instructors</button>

			<button ng-click="activateSchedule()" class="btn btn-default"
				ng-class="{active: activeTab === 'schedule' }"
				ng-if="user.userType === 'admin' || user.userType === 'mentor'">Schedule</button>

		</div>








		<!-- Toggles the modal that allows you to add a new course -->
		<div class="container" ng-show="toggleViewToCourses">
			<div class="display-box add-new" ng-click="addCourseView()">
				<span class="text-dashboard">Add a new course</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<a class="calendar-link" ng-repeat="course in courseArray"
			   ng-href="/#/course/{{course._id}}" ng-click="setCourse(course)">
				<div class="display-box">
					<span class="text-dashboard name center">{{ course.title }}</span>
					<span class="text-dashboard center">{{ course.courseLength }} days</span>
				</div> <!-- End of 'display-box' -->
			</a>

		</div> <!-- End of 'container' -->





		<!-- Toggles the modal that allows you to create a new cohort -->
		<div class="container" ng-show="toggleViewToCohorts">

			<div class="display-box add-new" ng-click="addCohortView()">
				<span class="text-dashboard">Add a new cohort</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<a class="calendar-link" ng-repeat="cohort in cohortArray" 
				ng-href="/#/cohort/{{cohort._id}}" ng-click="setCohort(cohort)">
				<div class="display-box">
					<span class="text-dashboard name center">{{ cohort.name }}</span>
					<span class="text-dashboard center">{{ cohort.sched }}</span>
					<span class="text-dashboard center">{{ cohort.location }}</span>
				</div> <!-- End of 'display-box' -->
			</a>
		</div> <!-- End of 'container' -->





	<!-- Invite mentors to joing DevMtn -->

		<div ng-show="toggleViewToCohorts" class="shift-wrapper">
		</div>


		<div class="container" ng-show="toggleViewToMentors">

			<div class="display-box add-new" ng-click="openMentorModal()">
				<span class="text-dashboard">Add a new mentor</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<div class="display-box add-new" ng-click="toggleSubscribeCohortModal()">
				<span class="text-dashboard">Add Mentos to Mentors</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<a class="mentors-link" href="#dashboard">
				<div class="display-box" ng-click="toggleMentorModal(); setMentor(mentor)" ng-repeat="mentor in usersArray | filter: {userType: 'mentor'}">
					<img class="mentor-image center" ng-src="{{mentor.avatar}}"</img>
					<span class="text-dashboard center">{{ mentor.name }}</span>
					<span class="text-dashboard name center">{{ mentor.location }}</span>
					<span class="text-dashboard name center">{{ mentor.mentorType }}</span>
				</div> <!-- End of 'display-box' -->
			</a>
		</div> <!-- End of 'container' -->





		<!-- Toggles the modal that allows you to add a new instructor -->
		<div class="container" ng-show="toggleViewToTeachers">

			<div class="display-box add-new" ng-click="addTeacherView()">
				<span class="text-dashboard">Add a new instructor</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<!-- this lil guy toggles the modal -->
			<a class="mentors-link" href="#dashboard">
				<div class="display-box" ng-click="toggleTeacherModal(teacher._id); setTeacher(teacher)" ng-repeat="teacher in usersArray | filter: {userType: '!student'}">
					<img class="mentor-image center" ng-src="{{teacher.avatar}}"</img>
					<span class="text-dashboard center">{{ teacher.name }}</span>
					<span class="text-dashboard name center">{{ teacher.location }}</span>
					<span class="text-dashboard name center">{{ teacher.mentorType }}</span>
				</div> <!-- End of 'display-box' -->
			</a>
		</div> <!-- End of 'container' -->

		<!-- <div class="shift-wrapper" ng-show="toggleViewToTeachers"> -->





		<!-- Toggles the modal that allows you to view your schedule -->
		<div class="container" ng-show="toggleViewToSchedule">

			<div class="display-box add-new" ng-click="addScheduleView(); getInstructorInfo()">
				<span class="text-dashboard">Current Schedule</span> <br />
				<i class="icon-dashboard fa fa-calendar"></i>
			</div>

			<div class="display-box add-new" ng-click="addScheduleView()">
				<span class="text-dashboard">Add Lessons to Teach</span> <br />
				<i class="icon-dashboard fa fa-plus-circle"></i>
			</div>

			<a class="schedule-link" href="dashboard">
				<div class="display-box add-new" ng-click="toggleScheduleModal()" ng-repeat="dates in schedule">
					<span class="text-dashboard center">Info goes here</span>
				</div> <!-- End of 'display-box' -->
			</a>
		</div> <!-- End of 'container' -->

	</div> <!-- End of 'shift-wrapper' -->
</section>





<!-- 'add-cohort-modal' activates when suer clicks on 'Add a new course' -->
<div class="add-cohort-modal" ng-show="toggleAddCourse">
	<h2 class="text-dashboard left">Enter New Course Information</h2>
	<i class="close-modal fa fa-times" ng-click="addCourseView()"></i>

	<form class="new-cohort-form" name="newCourseForm">
		<input class="form-input center" type="text" placeholder="Course Title" ng-model="courseInfo.title"/>
		<input class="form-input center" type="number" placeholder="Course Length" ng-model="courseInfo.courseLength" />
	</form>
	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="addCourseView()">Cancel</button>
		<button class="form-btn" type="submit" ng-click="createNewCourse(courseInfo)" ng-disabled="newCourseForm.$invalid">Save</button>
	</div>
</div> <!-- End of 'add-cohort-modal' -->





<!-- 'add-cohort-modal' activates when user clicks on 'Add a new cohort' -->
<div class="add-cohort-modal" ng-show="toggleAddCohort">
	<h2 class="text-dashboard left">Enter New Cohort Information</h2>
	<i class="close-modal fa fa-times" ng-click="addCohortView()"></i>

	<form class="new-cohort-form">
		<input class="form-input center" type="text" placeholder="Cohort Name" ng-model="cohortInfo.name" />
		<select class="form-input center" ng-options="item.title for item in courseArray" ng-model="cohortInfo.courseType"></select>
			<dropdown-directive></dropdown-directive>
		<input class="form-input center" type="date" ng-model="cohortInfo.startDate" />
		<select class="form-input center" ng-options="item for item in locationOptions" ng-model="cohortInfo.location"></select>
			<dropdown-directive></dropdown-directive>
	</form>
	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="addCohortView()">Cancel</button>
		<button class="form-btn" type="submit" ng-click="createNewCohort(cohortInfo)">Save</button>
	</div>
</div>






	<span class="pic-modal" ng-show="mentorModal">
		<div class="modal-wrapper lesson-modal">
			<div>
				<div class="modal-cover flex-row content-center align-items-center" ng-click="closeMentorModal()"></div>
				<div class="modal flex-column align-items-center">
					<div class="modal-header">
						<h3>Invite mentors to DevMountain:</h3>
						<i class="fa fa-times" ng-click="closeMentorModal()"></i>
					</div>


					<div class="width100">

						<form ng-submit="sendMentorInvite(newMentors)">
							<textarea ng-model="newMentors" class="form-control" placeholder="Comma-separated email(s)"></textarea>
							<button class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</span>



<!-- 'add-cohort-modal' activates when user clicks on 'Add a new mentor' -->
<div class="add-cohort-modal" ng-show="toggleAddMentor">
	<h2 class="text-dashboard text-left">Enter New Mentor Information</h2>
	<i class="close-modal fa fa-times" ng-click="addMentorView()"></i>

	<form class="new-cohort-form">
		<input class="form-input center" type="text" placeholder="Enter Mentor's name" />
		<input class="form-input center" type="text" placeholder="Enter Mentor's type" />
		<input class="form-input center" type="text" placeholder="Enter Mentor's cohort" />
	</form>
	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="addMentorView()">Cancel</button>
		<button class="form-btn" type="submit">Save</button>
	</div>
</div> <!-- End of 'add-cohort-modal' -->


<!-- 'add-cohort-modal' activates when user clicks on 'Add a new instructor' -->
<div class="add-cohort-modal" ng-show="toggleAddTeacher">
	<h2 class="text-dashboard text-left">Enter New Instructor Information</h2>
	<i class="close-modal fa fa-times" ng-click="addTeacherView()"></i>

	<form class="new-cohort-form">
		<input class="form-input center" type="text" placeholder="Enter Instructor's name" />
		<input class="form-input center" type="text" placeholder="Enter Instructor's type" />
		<input class="form-input center" type="text" placeholder="Enter Instructor's cohort" />
	</form>
	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="addTeacherView()">Cancel</button>
		<button class="form-btn" type="submit">Save</button>
	</div>
</div> <!-- End of 'add-cohort-modal' -->





<!-- 'add-cohort-modal' activates when user clicks on 'Add a new cohort' -->
<div class="add-cohort-modal" ng-show="toggleSchedule">
	<h2 class="text-dashboard left">Classes you are scheduled to teach</h2>
	<i class="close-modal fa fa-times" ng-click="addScheduleView()"></i>

	<div ng-repeat="schedule in instructorSchedule">
		<span class="text">Cohort Name</span>
		<span class="text">{{ schedule.day | date: fullDate }}</span>
		<span class="text">{{ schedule.topic }}</span>
	</div>
</div>







<!-- Modal for mentor profile -->
<mentor-modal
	ng-show="toggleViewToMentorProfile"
	toggle-view-to-mentor-profile="toggleViewToMentorProfile"
	current-mentor="currentMentor"
	options="options"
	mentor="mentor"
	set-mentor="setMentor(mentor)"
	toggle-mentor-modal="toggleMentorModal()">
</mentor-modal>

<teacher-modal
	ng-show="toggleViewToTeacherProfile"
	toggle-view-to-teacher-profile="toggleViewToTeacherProfile"
	current-teacher="currentTeacher"
	teacher="teacher"
	instructor-data="instructorData"
	set-teacher="setTeacher(teacher)"
	toggle-teacher-modal="toggleTeacherModal()">
</teacher-modal>

<subscribe-modal
	ng-show="toggleSubscribeCohort"
	toggle-subscribe-cohort="toggleSubscribeCohort"
	cohort-array="cohortArray"
	users-array="usersArray"
	toggle-subscribe-cohort-modal="toggleSubscribeCohortModal()">
</subscribe-modal>


