<header-directive></header-directive>

<h3 class="page-title">Mentors</h3>

<section class="cal dashboard">

	<div class="day" ng-repeat="mentor in users">
		<div ng-click="setMentor(mentor); toggleMentorModal()" class="false-btn">
			<img class="mentor-image" ng-src="{{mentor.avatar}}"</img>
			<h4 class="title"> {{ mentor.name }}</h4>
			
			<div class="toggle-container">
				<i class="toggle fa fa-toggle-on"></i>
				<h6 class="right">Admin Privileges</h6>
			</div>
		</div> <!-- End of 'false-btn' -->
	</div> <!-- End of 'day' -->

	<div class="day">
		<input type="text" class="form-input" placeholder="Enter new mentor" />
		<div class="toggle-container">
			<i class="toggle-off fa fa-toggle-off"></i>
			<h6 class="right">Admin Privileges</h6>
		</div>
	</div> <!-- End of 'day' -->

</section> <!-- End of 'cal' -->

<mentor-modal
	ng-show="mentorModalVisible"
	mentor-modal-visible="mentorModalVisible"
	current-mentor="currentMentor"
	options="options"
	mentor="mentor"
	set-mentor="setMentor(mentor)"
	toggle-mentor-modal="toggleMentorModal()">
</mentor-modal>

<!-- <timeline events="mentors"></timeline> -->

