<header-directive></header-directive>
<loading-gif ng-if="loading"></loading-gif>
<display-message></display-message>

<div class="backdrop" ng-show="backdropVisible"></div>



<!-- NEW DASHBOARD DESIGN -->
<section class="cohort-settings main-dashboard">

	<!-- MENU -->
	<div class="dsh-menu">

		<div class="dsh-item active-dsh" ng-click="activateMenu('cohorts')" active-menu>
			<i class="fa fa-laptop"></i>
			<p>Cohorts</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('courses')" active-menu>
			<i class="fa fa-file-text-o"></i>
			<p>Courses</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('mentors')" ng-if="!user.userType.instructor && !user.userType.student" active-menu>
			<i class="fa fa-hand-lizard-o"></i>
			<p>Mentors</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('instructors')" ng-if="!user.userType.instructor && !user.userType.student" active-menu>
			<i class="fa fa-hand-spock-o"></i>
			<p>Instructors</p>
		</div>

		<div class="dsh-item" ng-click="activateMenu('schedule')" active-menu>
			<i class="fa fa-calendar-check-o"></i>
			<p>Schedule</p>
		</div>

	</div>





	<!-- COURSES SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'courses'">

		<div class="sub-dsh">
			<div class="mini-header">Current courses</div>
			<a ng-repeat="course in courseArray"
			   ng-href="/#/course/{{course._id}}" ng-click="setCourse(course)">
				<div class="sub-section">
					<div class="text-dashboard name">{{ course.title }}</div>
					<div class="text-dashboard">
						{{ course.courseLength }} days
					</div>
				</div>
			</a>
		</div>


		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Create a new course</div>
				<form name="newCourseForm">
					<input class="form-control" type="text" placeholder="Course Title" ng-model="courseInfo.title"/>
					<input class="form-input" type="number" min="1" max="140" placeholder="Course Length" ng-model="courseInfo.courseLength" />
				</form>

				<div>
					<button class="btn btn-default" type="submit"
							ng-click="createNewCourse(courseInfo)"
							ng-disabled="newCourseForm.$invalid">
							Create course
					</button>
				</div>
		</div>

	</div>





	<!-- COHORT SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'cohorts'">
		<div class="sub-dsh">
			<div class="mini-header">Current cohort</div>
			<a class="calendar-link" ng-repeat="cohort in cohortArray" 
				ng-href="/#/cohort/{{cohort._id}}" ng-click="setCohort(cohort)">
				<div class="sub-section">
					<div class="text-dashboard name">{{ cohort.name }}</div>
					<div class="text-dashboard">{{ cohort.location }}</div>
				</div>
			</a>
		</div>


		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Create a new cohort</div>
				<form class="cohort-section" ng-submit="createNewCohort(cohortInfo)">

					<input class="form-control" type="text" placeholder="Cohort Name" ng-model="cohortInfo.name" />

					<select class="select-control" ng-options="item.title for item in courseArray" ng-model="cohortInfo.courseType">
						<option value="">Choose a course</option>
					</select>
						
					<input class="form-control" type="date" ng-model="cohortInfo.startDate" />

					<select class="select-control" placeholder="location" ng-options="item for item in locationOptions" ng-model="cohortInfo.location">
						<option value="">Choose cohort location</option>
					</select>


					<button class="btn btn-default" type="submit">Create cohort</button>
						
				</form>
		</div>

	</div>






	<!-- MENTOR SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'mentors'">

		<div class="sub-dsh">
			<div class="mini-header">Cohort mentors</div>
			<div class="student-display" ng-repeat="mentor in usersArray | filter: {userType: {mentor: true}}">
				<a ng-click="toggleMentorModal(); setMentor(mentor)">
					<img ng-src="{{mentor.avatar}}"
						 ng-class="{'has-github': mentor.githubUrl}">
				</a>
				<span class="s-info">
					<p class="s-name">{{mentor.name}}</p>
					<p class="s-email">{{mentor.local.email}}</p>
					<a ng-href="{{mentor.githubUrl}}" ng-if="mentor.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
				</span>
			</div>
		</div>

		<div class="sub-dsh">
			<div class="mini-header">Invite new mentors to DevMountain</div>
			<form ng-submit="sendGeneralMentorInvite(newMentors)">
				<textarea ng-model="newMentors" class="form-control" placeholder="Comma-separated email(s)"></textarea>
				<button class="btn btn-default">Invite mentors</button>
			</form>
		</div>

	</div>





	<!-- INSTRUCTOR SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'instructors'">

		<div class="sub-dsh" ng-if="!user.userType.instructor">
			<div class="mini-header">Cohort instructors</div>
			<div class="student-display" ng-repeat="instructor in usersArray | filter: {userType: {instructor: true}}">

				<a ng-click="toggleTeacherModal(instructor._id); setTeacher(instructor)">
					<img ng-src="{{instructor.avatar}}"
						 ng-class="{'has-github': instructor.githubUrl}">
				</a>

				<span class="s-info">
					<p class="s-name">{{instructor.name}}</p>
					<p class="s-email">{{instructor.local.email}}</p>
					<a ng-href="{{instructor.githubUrl}}" ng-if="instructor.githubUrl" target="_blank"><i class="fa fa-github-alt"></i></a>
				</span>

			</div>
		</div>

		<div class="sub-dsh">
			<div class="mini-header">Invite instuctors</div>
			<form ng-submit="sentInstructorInvite(newInstructors)">
				<textarea ng-model="newInstructors" class="form-control" placeholder="Comma-separated email(s)"></textarea>
				<button class="btn btn-default">Send invite</button>
			</form>
		</div>

	</div>





	<!-- SCHEDULE SECTION -->
	<div class="flex-pants" ng-show="currentTab === 'schedule'">

		<div class="sub-dsh">
			<div class="mini-header">Your teaching schedule</div>
			<div ng-if="!instructorSchedule.length">Your teaching schedule will be displayed here once your are scheduled to teach.</div>

			<div ng-repeat="schedule in instructorSchedule" class="sub-section">
				<span class="text">{{ schedule.day | date: fullDate }}</span>
				<span class="text">{{ schedule.topic }}</span>
			</div>
		</div>

	</div>


</section>







<!-- Modal for mentor profile -->
<mentor-modal
	ng-show="toggleViewToMentorProfile"
	toggle-view-to-mentor-profile="toggleViewToMentorProfile"
	current-mentor="currentMentor"
	options="options"
	mentor="mentor"
	cohorts="cohortArray"
	set-mentor="setMentor(mentor)"
	toggle-mentor-modal="toggleMentorModal()">
</mentor-modal>

<teacher-modal
	ng-show="toggleViewToTeacherProfile"
	toggle-view-to-teacher-profile="toggleViewToTeacherProfile"
	current-teacher="currentTeacher"
	teacher="teacher"
	instructor-data="instructorData"
	set-teacher="setTeacher(teacher)"
	toggle-teacher-modal="toggleTeacherModal()">
</teacher-modal>

<subscribe-modal
	ng-show="toggleSubscribeCohort"
	toggle-subscribe-cohort="toggleSubscribeCohort"
	cohort-array="cohortArray"
	users-array="usersArray"
	toggle-subscribe-cohort-modal="toggleSubscribeCohortModal()">
</subscribe-modal>


