<header-directive></header-directive>

	<!-- IF THERE IS NO LESSON -->
	<section class="smaller-wrapper" ng-show="!lesson.sections.length && !lesson.topic">

		<div class="shift-wrapper">
			<div class="container">
				{{activeLesson}}
				<div class="profile-header">Create a new lesson</div>

				<div class="profile-container-body">
					<!-- <form ng-submit="updateUser(user, newPassword)"> -->
						<!-- <div class="alert alert-success" role="alert" ng-if="displayMessage" hide-essage>Settings have been updated.</div> -->
						<label>Lesson topic: *</label>
						<form ng-submit="setTopic(topic)">
							<input class="form-control" placeholder="e.g. Javascript 101" ng-model="topic" required/>
						</form>
						<hr>

						<label>New section name:</label>
						<form ng-submit="addSection(newSection)">
							<input type="text" ng-model="newSection.title"
								   placeholder="e.g. Variables and functions"
								   class="form-control"/>

						   <text-angular ng-model="newSection.content"></text-angular>

						   
						   <p>edit permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.edit.indexOf(type) > -1"
							    ng-click="toggleEditSelection(type)"
							  > {{type}}
							</label>
							<br>
							<p>read permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.read.indexOf(type) > -1"
							    ng-click="toggleReadSelection(type)"
							  > {{type}}
							</label>
							<br>



						   
							   <!-- <span style="display:inline-block">
									edit permissions:<br>
									<input type="checkbox" ng-checked="newSection.edit.push(admin)" ng-click="logNewSection(newSection)"/>admin<br>
									<input type="checkbox" ng-checked="newSection.edit.push(mentor)"/>mentor<br>
									<input type="checkbox" ng-checked="newSection.edit.push(instructor)"/>instructor<br>
									<input type="checkbox" ng-checked="newSection.edit.push(student)"/>student<br>
								</span> 
								<span style="display:inline-block">
									read permissions:<br>
									<input type="checkbox" />admin<br>
									<input type="checkbox" />mentor<br>
									<input type="checkbox" />instructor<br>
									<input type="checkbox" />student<br>
								</span> -->
							
						   <button class="btn btn-default">Create section</button>
						</form>

						<div ng-repeat="section in sections">
							<br>
							<hr ng-if="$index === 0">

							<h4>{{section.title}}</h4>
							<div ng-bind-html="section.content | unsafe"></div>

							<hr>
							{{section.edit}}
							{{section.read}}
						</div>
						<br><br>
						<button class="btn btn-success" ng-click="createLesson(topic)">Save lesson</button>
					<!-- </form> -->
				</div>

			</div>
		</div>

	</section>


<!-- IF THERE IS A LESSON -->
<span class="go-back">
	<button ng-click="toCalendar()" class="btn btn-default"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;&nbsp;back to calendar</button>
	<br>
	<button class="btn btn-default" ng-show="lesson.edit" ng-click="lesson.edit=!lesson.edit"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;&nbsp;back to day</button>
</span>

<section class="lesson smaller-wrapper">

	<div class="shift-wrapper">	
		<div ng-show="lesson" class="portlet-header">
			<div ng-show="!lesson.edit && (lesson.sections.length || lesson.topic)">
				<h2>{{lesson.topic || topicPlaceholder}}

					<span style="float: right;">
						<button ng-click="teachLesson(day)" ng-show="!day.instructor && user.userType !== 'student' && typeRef == 'cohort'" class="btn btn-default">Teach this lesson</button>

						<button ng-click="removeLesson(lesson)" ng-show="(day.instructor == user._id && user.userType !== 'student' && typeRef == 'cohort') || superShowThis === true" class="btn btn-default">Cancel teaching appointment</button> 
						
						<i class="fa fa-pencil" ng-if="user.userType !== 'student'" ng-click="lesson.edit=!lesson.edit"></i>
					</span>
				</h2>
			</div>
			
			<span class="course-body">

				<!-- EDIT LESSON TITLE -->
				<div ng-show="lesson.edit" class="topic-wrapper">
					<h3>Lesson topic:&nbsp;&nbsp;</h3>
					<input type="text" ng-model="lesson.topic"/>
					<!-- <button ng-click="updateLesson()">submit change</button> -->
				</div>

				<!-- LESSON INFO -->
				<div ng-repeat="section in lesson.sections track by $index" class="portlet-content container extra-padding" ng-class="{'done-border': section.finishedStudents.indexOf(user._id) > -1}">
					<div ng-show="!lesson.edit">
						<h3 ng-show="section.title">
							{{section.title}}
						</h3>
						<div ng-bind-html="section.content | unsafe"></div>
					</div>


					<!-- EDIT LESSON -->
					
					<div ng-show="lesson.edit">
						<div class="delete-section" ng-click="removeLessonSection($index, section)">
							delete section&nbsp;&nbsp;<i ng-show="lesson.edit" class="fa fa-trash-o" ></i>
						</div>
						<br />

						<label>Section title:</label>
						<input type="text" ng-model="section.title"
								   placeholder="Section title"
								   class="form-control"/>
					   <br> 
					   <label>Section content:</label>
						<text-angular ng-model="section.content"></text-angular>
						<p>edit permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="section.edit.indexOf(type) > -1"
							    ng-click="toggleEditSelection(type, section)"
							  > {{type}}
							</label>
							<br>
							<p>read permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="section.read.indexOf(type) > -1"
							    ng-click="toggleReadSelection(type, section)"
							  > {{type}}
							</label>
							<br>

					</div>
	<!-- right here is where Kyle is working on marking things as donzo -->
					<div ng-show="user.userType == 'student' && typeRef == 'cohort'" class="donzo-container">
						<span>mark as done: </span>
						<span ng-click="markAsCompleted($index, completedSection, section)">
							<input type="checkbox" ng-model="completedSection" ng-checked="section.finishedStudents.indexOf(user._id) !== -1"/>
						</span>
					</div>
				</div>


				<!-- ADDS NEW SECTION TO A LESSON -->
				<br>
				<form ng-show="newSection.show" ng-submit="addLessonSection(newSection)">
					<input type="text" ng-model="newSection.title"
						   placeholder="Section title"
						   class="form-control"/>

				   <text-angular ng-model="newSection.content"></text-angular>

				   <button class="btn btn-default">Create section</button>
				</form>
				
				<br>
				<button ng-show="lesson.edit" class="btn btn-success" ng-click="updateLesson()">Submit changes</button>
				<button class="btn btn-default" style="float: right;" ng-show="lesson.edit" ng-click="newSection.show=!newSection.show"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;add section</button>
			</span>
		</div>
	</div>
</section>
<!-- </div> -->