<div id="top"></div>
<header-directive></header-directive>
<display-message></display-message>

	<!-- IF THERE IS NO LESSON -->
	<section class="smaller-wrapper whole-thing" ng-show="!lesson.sections.length && !lesson.topic && (user.userType.admin || user.userType.mentor)">

		<div class="shift-wrapper smaller-padding"> <!-- ng-show="sections.length"  -->
			<div class="container">
				<div class="profile-header">Sections <span class="lil-guy">(click to expand)</span></div>

				<div class="profile-container-body">
					<div ng-repeat="section in sections" ng-click="section.show = !section.show">

						<label class="newer-section">{{section.title}}</label>
						<div ng-show="section.show" style="padding-left: 20px;">
							
							<div ng-bind-html="section.content | unsafe"></div>

							<div class="just-flex">
								<div>Edit permissions:&nbsp;</div>
								<div class="just-flex" ng-repeat="edit in section.edit">
									{{edit}}<span ng-show="$index < section.edit.length - 1">,</span>&nbsp;
								</div>
							</div>

							<div class="just-flex">
								<div>Read permissions:&nbsp;</div>
								<div class="just-flex" ng-repeat="read in section.read">
									{{read}}<span ng-show="$index < section.read.length - 1">,</span>&nbsp;
								</div>
							</div>
							
						</div>
						<hr>
					</div>

					<button class="btn btn-success" ng-click="createLesson(topic)">Save lesson</button>
				</div>

			</div>
		</div>

		<div class="shift-wrapper smaller-padding">
			<div class="container">
				{{activeLesson}}
				<div class="profile-header">Create a new lesson</div>

				<div class="profile-container-body">
						<label>Lesson topic: *</label>
						<form ng-submit="setTopic(topic)">
							<input class="form-control" placeholder="e.g. Javascript 101" ng-model="topic" required/>
						</form>
						<hr>

						<label>New section name:</label>
						<form ng-submit="addSection(newSection)">
							<input type="text" ng-model="newSection.title"
								   placeholder="e.g. Variables and functions"
								   class="form-control"/>

						   <text-angular ng-model="newSection.content"></text-angular>
						   
						   <p>edit permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.edit.indexOf(type) > -1"
							    ng-click="toggleEditSelection(type)"
							  > {{type}}
							</label>
							<br>
							<p>read permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.read.indexOf(type) > -1"
							    ng-click="toggleReadSelection(type)"
							  > {{type}}
							</label>
							<br>


							
						   <button class="btn btn-default">Create section</button>
						</form>
						<br><br>
				</div>

			</div>
		</div>

	</section>


<!-- IF THERE IS A LESSON -->
<span class="go-back">
	<button ng-click="toCalendar()" class="btn btn-default"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;&nbsp;back to calendar</button>
	<br>
	<button class="btn btn-default" ng-show="lesson.edit" ng-click="lesson.edit=!lesson.edit"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;&nbsp;back to day</button>
</span>

<section class="lesson smaller-wrapper">

	<div class="shift-wrapper larger-padding">	
		<div ng-show="lesson" class="portlet-header">
			<div ng-show="!lesson.edit && (lesson.sections.length || lesson.topic)">
				<h2 class="flex-between">
					<div class="just-flex">
						<div class="relative">
							<div ng-show="day.instructor" class="pic-container hang-to-the-left" ng-attr-titletext="{{day.instructor.name}}" tio-tooltip>
								<a ng-href="{{day.instructor.githubUrl}}" target="_blank">
									<img ng-src="{{day.instructor.avatar}}"
										 ng-class="{'has-github': day.instructor.githubUrl}">
								</a>
								<span class="tooltip-wrapper">
									<p class="tooltip"></p>
									<span class="arrow-down"></span>
								</span>
							</div>
							{{lesson.topic || topicPlaceholder}}
						</div>
					</div>
					<div class="just-flex">
						<div ng-if="typeRef == 'cohort'">
							<button ng-show="user.userType.instructor && !day.instructor && !findMyId(day.wantsToTeach, user)" ng-click="teachRequest()" class="btn btn-default">Request to teach this lesson</button>
							<button ng-show="!day.instructor && findMyId(day.wantsToTeach, user)" ng-click="cancelRequest()" class="btn btn-default">Cancel teaching request</button>
							<button ng-click="removeLesson(lesson)" ng-if="(day.instructor._id == user._id && typeRef == 'cohort') || superShowThis" class="btn btn-default">Cancel teaching appointment</button> 
						</div>
							
						<i class="fa fa-pencil" ng-if="user.userType.admin" ng-click="lesson.edit=!lesson.edit"></i>
					</div>
				</h2>
			</div>
			
			<span class="course-body">

				<!-- EDIT LESSON TITLE -->
				<div ng-show="lesson.edit" class="topic-wrapper">
					<h3>Lesson topic:&nbsp;&nbsp;</h3>
					<input type="text" ng-model="lesson.topic"/>
				</div>

				<!-- LESSON INFO -->
				<div ng-repeat="section in lesson.sections track by $index" class="portlet-content container extra-padding" ng-class="{'done-border': section.finishedStudents.indexOf(user._id) > -1}" ng-if="permission(section.read, user.userType)">
					<i class="fa fa-pencil" ng-if="permission(section.edit, user.userType) && !user.userType.admin" ng-click="section.lesson.edit=!section.lesson.edit"></i>
					<div ng-show="!section.lesson.edit">
						<h3 ng-show="section.title">
							{{section.title}}
						</h3>
						<div ng-bind-html="section.content | unsafe"></div>
					</div>


					<!-- EDIT LESSON -->
					
					<div ng-show="section.lesson.edit || lesson.edit">
						<div class="delete-section" ng-click="removeLessonSection($index, section)">
							delete section&nbsp;&nbsp;<i ng-show="section.lesson.edit || lesson.edit" class="fa fa-trash-o" ></i>
						</div>
						<br />

						<label>Section title:</label>
						<input type="text" ng-model="section.title"
								   placeholder="Section title"
								   class="form-control"/>
					   <br> 
					   <label>Section content:</label>
						<text-angular ng-model="section.content"></text-angular>
						<div ng-if="user.userType.admin">
							<p>edit permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="section.edit.indexOf(type) > -1"
							    ng-click="toggleEditSelection(type, section)"
							  > {{type}}
							</label>
							<br>
							<p>read permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="section.read.indexOf(type) > -1"
							    ng-click="toggleReadSelection(type, section)"
							  > {{type}}
							</label>
							<br>
						</div>

					</div>

					<!-- students mark sections as completed -->

					<div ng-show="user.userType.student && typeRef == 'cohort'" class="donzo-container">
						<span>mark as done: </span>
						<span ng-click="markAsCompleted($index, completedSection, section)">
							<input type="checkbox" ng-model="completedSection" ng-checked="section.finishedStudents.indexOf(user._id) !== -1"/>
						</span>
					</div>
					<button ng-show="section.lesson.edit" class="btn btn-success" ng-click="updateLesson()">Submit changes</button>

				</div>


				<!-- ADDS NEW SECTION TO A LESSON -->
				<br>
				<form ng-show="newSection.show" ng-submit="addLessonSection(newSection)">
					<input type="text" ng-model="newSection.title"
						   placeholder="Section title"
						   class="form-control"/>

				   	<text-angular ng-model="newSection.content"></text-angular>
				   	<div ng-if="user.userType.admin">
				   		<p>edit permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.edit.indexOf(type) > -1"
							    ng-click="toggleEditSelection(type)"
							  > {{type}}
							</label>
							<br>
							<p>read permissions:</p>
							<label ng-repeat="type in types">
							  <input
							    type="checkbox"
							    name="selectedTypes[]"
							    value="{{type}}"
							    ng-checked="newSection.read.indexOf(type) > -1"
							    ng-click="toggleReadSelection(type)"
							  > {{type}}
							</label>
							<br>
						</div>

				   <button class="btn btn-default">Create section</button>
				</form>
				
				<br>
				<button ng-show="lesson.edit" class="btn btn-success" ng-click="updateLesson()">Submit changes</button>
				<button class="btn btn-default" style="float: right;" ng-show="lesson.edit" ng-click="newSection.show=!newSection.show"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;add section</button>
			</span>
			<div ng-show="toggleRequests" class="popup-list-left" ng-if="!day.instructor && (user.userType.admin || user.userType.mentor) && typeRef == 'cohort' && day.wantsToTeach.length">
				<div class="the-coolest-header">
					<div>Teaching requests</div>
					<i class="fa fa-compress top-right-icon" ng-click="toggleRequestsFunc()"></i>
				</div>
				<div>
					<div class="just-flex align-center"ng-repeat="instructor in wantsToTeach">
						<div class="pic-container" ng-attr-titletext="{{instructor.name}}" tio-tooltip>
							<a ng-href="{{instructor.githubUrl}}" target="_blank">
								<img ng-src="{{instructor.avatar}}"
									 ng-class="{'has-github': instructor.githubUrl}">
							</a>
							<span class="tooltip-wrapper">
								<p class="tooltip"></p>
								<span class="arrow-down"></span>
							</span>
						</div>
						<button class="btn btn-default" ng-click="teachLesson(day, instructor)">Assign</button>
					</div>
				</div>
			</div>
			<div class="bottom-left-bubble" ng-click="toggleRequestsFunc()" ng-show="!toggleRequests">Teaching requests<i class="fa fa-expand top-right-icon"></i></div>
		</div>
	</div>
</section>
<!-- </div> -->