<header>
	<div class="section left">
		<a href="/#/">
			<img src="/public/images/logo_white.png" title="DevKittens Logo">
		</a>
	</div>

	<div class="section right">
		<a ng-show="user" ng-click="toggleStudentView()" ng-if="isCohort"><p>Students</p></a>

		<a ng-show="user" href="/#/dashboard" ng-if="user.userType !== 'student'"><p>Dashboard</p></a>
		<div class="pic-container" ng-show="user" ng-click="toggleHeaderDropdown()">
			<img ng-src="{{user.avatar}}">
		</div>

		<div class="dropdown-background" ng-show="openHeaderDropdown"
			 ng-click="toggleHeaderDropdown()"></div>
		<div class="header-dropdown" ng-show="openHeaderDropdown">
			<div class="arrow-up"></div>
			<a href="/#/user-settings">
				<div class="header-unit">Settings</div>
			</a>
			<hr>
			<a href="/logout"><div class="header-unit">Logout</div></a>
		</div>
	</div>

</header>