<header class="white">
	<div class="section left">
		<a href="/#/">
			<img src="/public/images/logo.png" title="DevKittens Logo">
		</a>
	</div>

	<div class="section right">
		<a ng-show="user" href="/#/dashboard"><p>Dashboard</p></a>
		<div class="pic-container" ng-show="user" ng-click="toggleHeaderDropdown()">
			<img ng-src="{{user.avatar}}">
		</div>

		<div class="dropdown-background" ng-show="openHeaderDropdown"
			 ng-click="toggleHeaderDropdown()"></div>
		<div class="header-dropdown" ng-show="openHeaderDropdown">
			<a href="/#/user-settings">
				<div class="header-unit">Settings</div>
			</a>
			<hr>
			<a href="/logout"><div class="header-unit">Logout</div></a>
		</div>
	</div>
</header>

<section class="home">


	<div class="section banner">
		
		<div>
			<h1>
				Killing productivity
				<br>one penguin at a time
			</h1>

			<form ng-submit="login(newUser)">
				<input class="inline form-control"
					   placeholder="email" type="email"
					   ng-model="newUser.email" focus-here required/>

				<input class="inline form-control"
					   placeholder="password" type="password"
					   ng-model="newUser.password" required/>

				<button class="inline btn btn-default">Log in</button>
			</form>
		</div>


	</div>



</section>