<div ng-show="show" class="modal-wrapper lesson-modal">
	<div class="modal-cover flex-row content-center align-items-center" ng-click="closeModal()">
		<div ng-click="$event.stopPropagation()" class="modal flex-column align-items-center">
			<div class="modal-header">
				<h3>Create a new lesson</h3>
				<i class="fa fa-times" ng-click="closeModal()"></i>
			</div>


			<div class="width100">

				<div class="flex1">	
					<form ng-submit="setTopic(topic)"/>
						<input class="form-control" type="text" ng-model="topic" placeholder="Lesson topic" />
					</form>

					<h4>New Section</h4>

					<form ng-submit="addSection(newSection)">
						<input type="text" ng-model="newSection.title"
							   placeholder="Section title"
							   class="form-control"/>

					   <text-angular ng-model="newSection.content"></text-angular>

					   <button class="btn btn-default">Create section</button>
					</form>

					<br>
					<div ng-repeat="section in sections">
						<hr ng-if="$index === 0">

						<h4>{{section.title}}</h4>
						<div ng-bind-html="section.content | unsafe"></div>

						<hr>
					</div>
				</div>

				<br><br>
				
				<button ng-click="createLesson(topic)" class="btn btn-success">Save lesson</button>
			</div>
		</div>
	</div>
</div>