<div ng-show="show">
	<div class="modal-cover flex-row content-center align-items-center">
		<div class="modal flex-column align-items-center">
			<i class="fa fa-times" ng-click="closeModal()"></i>


			<div class="flex-row space-between width100 align-start">
				<div class="flex1">
					<p><strong>preview</strong></p>
					<h3>{{topic}}</h3>
					<div ng-repeat="section in sections track by $index">
						<h5><strong>{{section.title}}</strong></h5>
						<div ng-repeat="contentItem in section.content">
							<p>{{contentItem}}</p>
						</div>
						<form ng-submit="addContent($index, item)">
							<input type="text" ng-model="item" placeholder="content item"/>
						</form>
					</div>
				</div>

				<div class="flex1">	
					<form ng-submit="setTopic(topic)"/>
						<input type="text" ng-model="topic" placeholder="Lesson Topic" />
					</form>
					<br />
					<br />
					<h4>New Section</h4>
					<form ng-submit="addSection(title)">
						<input type="text" ng-model="title" placeholder="section title"/>
					</form>
					<br />
					<br />
					<!-- <button ng-click="addSection(title, content)">create section</button> -->
					<br />
					<br />
				</div>

			</div>

			<button ng-click="createLesson(topic)">save lesson</button>
		</div>
	</div>
</div>