<!-- MENTOR MODAL VIEW -->
<div class="add-cohort-modal strict-modal" current-mentor="currentMentor">
	
	<i class="close-mini-modal close-modal fa fa-times" ng-click="toggleMentorModal()"></i>
	
	<br />

	<img class="mentor-image" ng-src="{{ currentMentor.avatar }}">
	<h2 class="name">{{ currentMentor.name }}</h2>
	<h4 class="text">{{ currentMentor.mentorType }}</h4>
	<h5>{{ currentMentor.duties }}</h5>

	<div class="mini-modal-cal cal">

		<div class="menu-bar-horizontal">
			<button ng-click="activateMentos(); addMentosView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'mentos' }">Mentos</button>

			<button ng-click="activateSchedule(); addScheduleView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'schedule' }">Schedule</button>

			<button ng-click="activateTasks(); addTasksView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'tasks' }">Tasks</button>

			<button ng-click="activateNotes(); addNotesView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'notes' }">Notes</button>
			<button ng-click="activatePermissions(); addPermissionsView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'Permissions' }">Permissions</button>
		</div>

		<!-- MENTOR SECTION -->
		<div class="display-box-nonmodal" ng-show="toggleViewToMentos">
			<h2 class="text-dashboard left">Your mentos</h2>

			<div class="mentos-list">
				<h5>Joe</h5>
				<h5>Mark</h5>
				<h5>Daniel</h5>
				<h5>Bob</h5>
				<h5>Kyle</h5>
			</div>
		</div>

		<!-- SCHEDULE SECTION -->
		<div class="display-box-nonmodal" ng-show="toggleViewToSchedule">
			<h2 class="text-dashboard left">Your schedule</h2>

			<div class="mentos-list">
				<h5>Teach - 7/31</h5>
				<h5>Meeting - 7/29</h5>
				<h5>Teach - 8/3</h5>
			</div>
		</div>

		<!-- TASKS SECTION -->
		<div class="display-box-nonmodal" ng-show="toggleViewToTasks">
			<h2 class="text-dashboard left">Your Tasks</h2>

			<div class="mentos-list">
				<h5>Review Web DM4 Curriculum</h5>
				<h5>Review Web DM5 Curriculum</h5>
				<h5>Review After Hours Web Dev Curriculum</h5>
				<h5>Buy Monsters</h5>
			</div>
		</div>

		<!-- STUDENT NOTES SECTION -->
		<div class="display-box-nonmodal" ng-show="toggleViewToNotes">
			<h2 class="text-dashboard left">Student Notes</h2>

			<div class="mentos-list">
				<h5>Students have had a hard time grasping the basics of Node/Mongo</h5>
				<h5>There is an issue with the instructor not connecting with the students, ask questions to keep the instructor on task.</h5>
			</div>
		</div>
		

		<!-- MENTOR PERMISSIONS -->
		<div class="display-box-nonmodal" ng-show="toggleViewToPermissions">
			<h2 class="text-dashboard left">Edit this user's permissions</h2>
			<form>
				<label><input type="checkbox" ng-model="currentMentor.userType.admin">Admin</label>
				<label><input type="checkbox" ng-model="currentMentor.userType.mentor">Mentor</label>
				<label><input type="checkbox" ng-model="currentMentor.userType.instructor">Instructor</label>
				<label><input type="checkbox" ng-model="currentMentor.userType.student">Student</label>
				<button ng-click="editPermissions(currentMentor.userType)">Save changes</button>
			</form>
		</div>

	</div>
</div>