<!-- 'add-cohort-modal' activates when user clicks on 'Add a new mentor' --> 
<div class="add-cohort-modal" ng-show="toggleSubscribeCohort">
	<h2>Assign Mentors</h2>
	</br>
	<h4>Select the Cohort</h4>
	<form>
		<select class="form-input center" ng-options="cohort.name for cohort in cohortArray" ng-model="selectedCohort"></select>
		<button class="submit center" ng-click="getPeopleForCohort(selectedCohort); AssignMentorsView()">Select</button>
	</form>

	</br>
	</br>

	<div class="AssignMentorsView">
		<div ng-show="mentors">
			<h4>Select Mentors for the Cohort</h4>

			<div class="flex-row-space-around">
				<div ng-repeat="mentor in mentors">
					<img id="max-avatar-size" ng-src="{{ mentor.avatar }}">
					<h5> {{ mentor.name }} </h5>
					<input type="checkbox" ng-model"mentor._id">
				</div>
			</div>
		</div>

		</br>
		</br>

		<h4>Select Students</h4>

		<div class="flex-row-space-around">
			<div ng-repeat="student in students" id="student-list">
				<img id="max-avatar-size" src="{{ student.avatar }}">
				<h5>{{ student.name }}</h5>
				<input type="checkbox" ng-model"student._id">
			</div>
		</div>

		</br>

		<div class="form-btn-container">
			<button class="form-btn" type="submit" ng-click="toggleSubscribeCohortModal()">Cancel</button>
			<button class="form-btn" type="submit" ng-click="saveSelectedStudents(selectedStudents)">Save</button>
		</div>
	</div>

</div>  <!-- End of 'add-cohort-modal' -->









<!-- <div class="add-cohort-modal" ng-show="toggleSubscribeCohort"> -->
	<!-- <h2 class="text-dashboard text-left">Assign Mentos</h2>
	<i class="close-modal fa fa-times" ng-click="toggleSubscribeCohortModal()"></i> -->

	<!-- <form class="new-cohort-form">
		<select class="form-input center" ng-options="cohort.name for cohort in cohortArray" ng-model="selectedCohort.name"></select>
			<dropdown-directive></dropdown-directive> -->
		<!-- <select class="form-input center" multiple ng-multiple="true" size="5" ng-model="selectedStudents" ng-options="student.name for student in usersArray"></select> -->

		<!-- You have selected: {{ selectedStudents }} -->
			<!-- <dropdown-directive></dropdown-directive> -->
	<!-- </form>
	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="toggleSubscribeCohortModal()">Cancel</button>
		<button class="form-btn" type="submit" ng-click="saveSelectedStudents(selectedStudents)">Save</button>
	</div> -->
<!-- </div> End of 'add-cohort-modal' -->


<!-- <div class="add-cohort-modal" ng-show="toggleSubscribeCohort">
	<h2 class="text-dashboard text-left">Assign Mentos</h2>
	<i class="close-modal fa fa-times" ng-click="toggleSubscribeCohortModal()"></i>

	<form class="new-cohort-form">
		<select class="form-input center" ng-options="cohort.name for cohort in cohortArray" ng-model="selectedCohort.name"></select>
			<dropdown-directive></dropdown-directive>
	</form>
	<div ng-repeat="mentor in mentors">
		<img ng-src="mentor.avatar"/>
		<h5>{{mentor.name}}</h5>
	</div>

	<div class="form-btn-container">
		<button class="form-btn" type="submit" ng-click="toggleSubscribeCohortModal()">Cancel</button>
		<button class="form-btn" type="submit" ng-click="saveSelectedStudents(selectedStudents)">Save</button>
	</div>
</div>  --><!-- End of 'add-cohort-modal'