<!-- TEACHER MODAL VIEW -->
<div class="add-cohort-modal strict-modal" current-teacher="currentTeacher">
	
	<i class="close-mini-modal close-modal fa fa-times" ng-click="toggleTeacherModal()"></i>
	<br />

	<img class="mentor-image" ng-src="{{ currentTeacher.avatar }}">
	<h2 class="name">{{ currentTeacher.name }}</h2>


	<div class="mini-modal-cal cal">


		<div class="menu-bar-horizontal">
			<!-- TODO: CHANGE FROM MENTOS TO Comments -->
			<button ng-click="activateComments(); addCommentsView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'Comments' }">Comments</button>

			<button ng-click="activateSchedule(); addScheduleView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'schedule' }">Schedule</button>

			<button ng-click="activateSkills(); addSkillsView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'Skills' }">Skills</button>
			<button ng-click="activatePermissions(); addPermissionsView()" class="btn btn-default btn-horizontal"
				ng-class="{ active: activeTab === 'Permissions' }">Permissions</button>
		</div>



			<!-- COMMENTS SECTION -->
			<div class="display-box-nonmodal" ng-show="toggleViewToComments">
				<h2 class="text-dashboard left">Use these terms in your lesson</h2>

				<div class="mentos-list">
					<div ng-repeat="comment in instructorData.comments">
						<div>{{comment}}</div>
					</div>
				</div>
			</div>

			<!-- SCHEDULE SECTION -->
			<div class="display-box-nonmodal" ng-show="toggleViewToSchedule">
				<h2 class="text-dashboard left">Schedule</h2>

				<div class="mentos-list" ng-repeat="day in instructorData.schedule">
					<div style="margin: 5px; border: 1px solid black">
						<div>{{day.topic}}</div>
						<div>{{day.day | date: 'longDate'}}</div>
						<div ng-repeat="section in day.lesson.sections">
							<div>{{section.title}}</div>
							<div ng-bind-html="section.content | unsafe"></div>
						</div>
					</div>
				</div>
			</div>
			

			<!-- MINI-PROBLEM SECTION -->
			<div class="display-box-nonmodal" ng-show="toggleViewToSkills">
				<h2 class="text-dashboard left">Students Mini-problem for the day</h2>

				<div class="mentos-list">
					<div ng-repeat="skill in instructorData.skills">
						<div>{{skill}}</div>
					</div>
				</div>
			</div>
			

			<!-- PERMISSIONS SECTION -->
			<div class="display-box-nonmodal" ng-show="toggleViewToPermissions">
				<h2 class="text-dashboard left">Edit this user's permissions</h2>
				<form>
					<label><input type="checkbox"ng-model="currentTeacher.userType.admin">Admin</label>
					<label><input type="checkbox" ng-model="currentTeacher.userType.mentor">Mentor</label>
					<label><input type="checkbox" ng-model="currentTeacher.userType.instructor">Instructor</label>
					<label><input type="checkbox" ng-model="currentTeacher.userType.student">Student</label>
					<button ng-click="editPermissions(currentMentor.userType)">Save changes</button>
				</form>
			</div>


	</div>
</div>
