<section class="cal">
<lesson></lesson>
<sortable class="column">
	
	<div class="day portlet"
		  activate-day
		  ng-repeat="event in events" id="day{{event._id}}"
		  ng-class="{
			'weekend' : (event.date.getDay() === 0) || (event.date.getDay() === 6),
			'active-date' : (event.date.getDay() === 3),
			'last-day' : event.date.getDay() === 0,
			'first-day' : $index === 0,
		  }">

		<!-- DATE -->
		<p ng-show="event.date" class="day-date">
			{{event.date | date:'EEE'}}, {{event.date | date:'longDate'}}
		</p>

		<!-- specific to curriculum page -->
		<p ng-show="!event.date" class="day-date">
			{{event.dayName}} Day {{event.day}} 
		</p>

		<div ng-show="!event.lesson && !event.date">
			<button class="btn btn-default" ng-click="showModal(event)">new lesson </button>
			<!-- <button class="btn btn-default" ng-click="addLesson()">add lesson </button> -->
		</div>	
		<!--  -->


		<!-- Title -->
		<div ng-show="event.lesson" class="portlet-header">
			<div ng-show="!event.lesson.editTopic">

				
				<h2>{{event.lesson.topic}} <i class="fa fa-pencil" ng-click="event.lesson.editTopic=!event.lesson.editTopic"></i></h2>
			</div>
			<div ng-show="event.lesson.editTopic">
				<input type="text" ng-model="event.lesson.topic"/>
				<button ng-click="updateLessonTopic(event.lesson)">submit change</button>
			</div>
			<div ng-repeat="section in event.lesson.sections track by $index" class="portlet-content">
				<div ng-show="!section.editSection">
					<h3 ng-show="section.title">

						{{section.title}} 
						<i class="fa fa-pencil" ng-click="section.editSection=!section.editSection"></i>
						<i class="fa fa-times" ng-click="removeLessonSection($index, event.lesson.sections, section)"></i>
					</h3> 
					<div ng-bind-html="section.content | unsafe"></div>
				</div>
				<div ng-show="section.editSection">
					<input type="text" ng-model="section.title"
							   placeholder="Section title"
							   class="form-control"/> 
					<text-angular ng-model="section.content"></text-angular>
					<button ng-click="updateLessonSection(section)">submit changes</button>
				</div>
				<br />
			</div>


			<!-- ADDS NEW SECTION TO A LESSON -->
			<i class="fa fa-plus" ng-click="newSection.show=!newSection.show"></i> add section
			<form ng-show="newSection.show" ng-submit="addLessonSection(event.lesson, newSection)">
				<input type="text" ng-model="newSection.title"
					   placeholder="Section title"
					   class="form-control"/>

			   <text-angular ng-model="newSection.content"></text-angular>

			   <button class="btn btn-default">Create section</button>
			</form>
		</div>
		

		<!-- INSTRUCTOR -->
		<div class="instructor-wrapper">
			<p>{{event.instructorName}}</p>
			<img ng-src="{{event.instructorImg}}">
		</div>

		<span class="course-body">

			<!-- OBJECTIVES -->
			<p>{{event.objectives}}</p>
			<p>{{event.objectives}}</p>

			<div class="space-top">
				<!-- PRE-READINGS -->
				<div class="inline" ng-repeat="preReading in event.preReading track by $index">
					<div class="card">
						<div class="card-title">
							<h4>Pre-reading</h4>
							<span class="actions">
								<div class="action"><span class="glyphicon glyphicon-thumbs-down"></span></div>
								<div class="action"><span class="glyphicon glyphicon-ok"></span></div>
							</span>
						</div>

						<a ng-href="{{preReading}}" target="_blank">{{preReading}}</a>
					</div>
				</div>
				<!-- PROJECTS -->
				<div class="inline" ng-repeat="project in event.projects track by $index">
					<div class="card">
						<div class="card-title">
							<h4>Project</h4>
							<span class="actions">
								<div class="action"><span class="glyphicon glyphicon-thumbs-down"></span></div>
								<div class="action"><span class="glyphicon glyphicon-ok"></span></div>
							</span>
						</div>

						<a ng-href="{{project}}" target="_blank">{{project}}</a>
					</div>
				</div>

			</div>

		</span>

		<div class="gradient"></div>
	</div>

	

	<div class="after-cal"></div>
	<div class="after-cal smaller-after"></div>

<sortable>
</section>