<header-directive></header-directive>

<span class="go-back">
	<button ng-click="toCalendar()" class="btn btn-default" ng-if="user.userType.student">
		<i class="fa fa-long-arrow-left"></i>
		back to calendar
	</button>
	<br>
</span>

<section class="smaller-wrapper">

	<div class="shift-wrapper limited-width">

		<div class="container">
			<div class="profile-header">Public profile</div>

			<div class="profile-container-body">
				<div class="pic-container">
					<img ng-src="{{user.avatar}}">
				</div>

				<form ng-submit="updateUser(user, newPassword)">
					<div class="alert alert-success" role="alert" ng-if="displayMessage" hide-essage>Settings have been updated.</div>
					<label>Name:</label>
					<input class="form-control" ng-model="user.name" required/>
					<label>Github profile URL</label>
					<input class="form-control" ng-model="user.githubUrl" placeholder="e.g. https://github.com/dfala" />
					<label>Email:</label>
					<input class="form-control" ng-model="user.local.email" required/>
					<label>Reset password:</label>
					<input class="form-control" ng-model="newPassword" placeholder="New password" type="password" />
					<button class="btn btn-default">Update profile</button>
				</form>
			</div>

		</div>


	</div>

</section>