<header-directive></header-directive>


<section class="user-settings">

	<div class="shift-wrapper">

		<div class="container">
			<div class="profile-header">Public profile</div>

			<div class="profile-container-body">
				<div class="pic-container">
					<img ng-src="{{user.avatar}}">
				</div>

				<form ng-submit="updateUser(user, newPassword)">
					<div class="alert alert-success" role="alert" ng-if="displayMessage" hide-essage>Settings have been updated.</div>
					<label>Name:</label>
					<input class="form-control" ng-model="user.name" required/>
					<label>Github profile URL</label>
					<input class="form-control" ng-model="user.githubUrl" placeholder="e.g. https://github.com/dfala" />
					<label>Email:</label>
					<input class="form-control" ng-model="user.local.email" required/>
					<label>Password:</label>
					<input class="form-control" ng-model="newPassword" placeholder="New password" type="password" />
					<button class="btn btn-default">Update profile</button>
				</form>
			</div>

		</div>


	</div>

</section>