.cal {
	width: 1000px;
	min-height: 100px;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 20px;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #C3C3C3;
	position: relative;
}

	.cal h3 {
		margin: 0;
		margin-bottom: 20px;
	}

	.cal .day {
		height: 100px;
		/*max-height: 100px;*/
		padding: 20px;
		border-left: 2px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
		cursor: pointer;

		overflow: hidden;
	}

		.cal .day:hover {
			border-left: 2px solid #C3C3C3;
		}


			.cal .day:hover p {
				color: #333;
			}

			.cal .day:hover .instructor-wrapper img {
				opacity: 0.9;
			}

		.cal .day p {
			color: #A4A4A4;
		}


		/*INTRUCTOR*/
		.cal .day .instructor-wrapper {
			position: absolute;
			top: 20px;
			right: 20px;

			display: flex;
			align-itmes: flex-start;
		}

		.cal .day .instructor-wrapper p {
			display: inline-block;
			padding: 20px;
			padding-top: 0;
			margin: 0;
		}

		.cal .day .instructor-wrapper img {
			max-width: 40px;
			max-height: 40px;
			border-radius: 1px;
			opacity: 0.6;
			display: inline-block;
		}

		/*COURSE BODY*/
		.cal .course-body {
			display: none;
			padding: 0 10px;
		}

		/*COURSE TITLE*/
		.cal .course-title {
			padding: 0 10px;
		}

	/*DAY TYPES*/
	.cal .day-date {
		color: #A4A4A4;
	}


	.cal .active-date {
		border-left: 2px solid #1a75ff !important;
		background-color: #FDFEFF;
		min-height: 100px;
		height: auto;
	}
		.cal .active-date .day-date {
			color: #1a75ff !important;
		}
		.cal .active-date .instructor-wrapper img {
			opacity: 0.9;
		}

		.cal .active-date p {
			color: #333;
		}

		/*COURSE TITLE*/
		.cal .active-date .course-title {
			font-weight: 600;
		}

		/*COURSE BODY*/
		.cal .active-date .course-body {
			display: inherit;
		}

	.cal .weekend {
		background-color: rgba(255, 97, 26, 0.01);
	}

	.cal .first-day {
		border-top: 1px solid #eee;
	}

	.cal .last-day {
		border-bottom: 1px solid #D5D5D5;
	}


/*BOTTOM AFTER EFFECTS*/
.after-cal {
	position: absolute;
	bottom: -5px;
	margin: 0 2px;
	left: 0;
	width: 994px;
	height: 4px;
	border: 1px solid red;
	border-radius: 2px;
	border: 1px solid #C3C3C3;
	border-top: 0;
	background-color: #fff;
}
	.smaller-after {
		bottom: -9px;
		margin: 0 4px;
		left: 0;
		width: 990px;
		height: 4px;
	}