.cal {
	width: 1000px;
	min-height: 100px;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 20px;
	border-radius: 2px;
	background-color: #fff;
	border: @main-border;
	position: relative;

	h3 {
		margin: 0;
		margin-bottom: 20px;
	}

	.day {
		height: 100px;
		padding: 20px;
		border-left: 2px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
		cursor: -webkit-grab;

		overflow: hidden;

		&:hover {
			border-left: 2px solid #C3C3C3;

			p {
				color: #333;
			}

			.instructor-wrapper img {
				opacity: 0.9;
			}
		}

		p {
			color: #A4A4A4;
		}


		// INSTRUCTOR
		.instructor-wrapper {
			position: absolute;
			top: 20px;
			right: 20px;

			display: flex;
			align-itmes: flex-start;

			p {
				display: inline-block;
				padding: 20px;
				padding-top: 0;
				margin: 0;
			}

			img {
				max-width: 40px;
				max-height: 40px;
				border-radius: 1px;
				opacity: 0.6;
				display: inline-block;
			}

		}
	}



	// COURSE BODY
	.course-body {
		display: none;
		padding: 0 10px;

		.card {
			display: inline-block;
			width: 200px;
			min-height: 100px;
			border-radius: 2px;
			margin-right: 10px;
			cursor: inherit;
			padding: 10px;
			padding-top: 30px;

			/*background-color: rgb(245, 245, 245);
			border: 1px solid #848484;*/

			word-break: break-all;
			overflow: hidden;
			background-color: rgb(255, 255, 255);
			border: 1px solid #C8C5C5;
			position: relative;

			.card-title {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 25px;
				padding-left: 8px;
				background-color: #4A4F68; /*#464646;*/

				h4 {
			    	line-height: 25px;
			    	font-size: 14px;
			    	margin: 0;
			    	color: #fff;
				}
			}
		}

		.actions {
			position: absolute;
			top: 0;
			right: 0;
		}

		.action {
			width: 25px;
			height: 25px;
			/*float: right;*/
			display: inline-block;
			text-align: center;
			padding-top: 2px;
			border-radius: 1000px;
			cursor: pointer;

			&:hover {
				.glyphicon-ok {
					color: #09B314;
				}

				.glyphicon-thumbs-down {
					color: #ff611a;
				}

			}

			.glyphicon {
				color: #CFCFCF;
			}
		}

		// DEPRECATED?
		.success-card {
		    background-color: #C5FFDE;
			border: 1px solid #2ecc71;
		}
	}


	// COURSE TITLE
	.course-title {
		padding: 0 10px;
	}

	// DAY TYPES
	.day-date {
		color: #A4A4A4;
	}

	.active-date {
		border-left: 2px solid #1a75ff !important;
		background-color: #FDFEFF;
		min-height: 100px;
		height: auto;
		cursor: text;

		.day-date {
			color: #1a75ff !important;
		}

		.instructor-wrapper img {
			opacity: 0.9;
		}

		p {
			color: #333;
		}

		// COURSE TITLE
		.course-title {
			font-weight: 600;
		}

		// COURSE BODY
		.course-body {
			display: inherit;
		}
	}

	.weekend {
		background-color: rgba(247, 162, 124, 0.02); /*rgba(255, 97, 26, 0.01);*/
	}

	.first-day {
		border-top: 1px solid #eee;
	}

	.last-day {
		border-bottom: 1px solid #D5D5D5;
	}

}


// BOTTOM AFTER EFFECTS
.after-cal {
	position: absolute;
	bottom: -5px;
	margin: 0 2px;
	left: 0;
	width: 994px;
	height: 4px;
	border: 1px solid red;
	border-radius: 2px;
	border: @main-border;
	border-top: 0;
	background-color: #fff;
}

.smaller-after {
	bottom: -9px;
	margin: 0 4px;
	left: 0;
	width: 990px;
	height: 4px;
}

.calendar-nav {
	display: flex;
	justify-content: space-between;
	font-size: 2em;
	margin: 0 2.5% 40px 2.5%;

	.navigate-btn {
		cursor: pointer;
		&:hover {
			.fa {
				color: @blue;
			}
		}
	}
}

.overall-container {
    width: 100%;
    max-height: 100%;
    margin: 2%;
    position: relative;

    .instructor-type {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    color: #ccc;
    }
}

.calendar-title {
	display: flex;
	justify-content: center;
	margin: 0;
}

.calendar-text {
	// font-weight: 700;
	color: #AAA;
}

.calendar-container {
    float: left;
    width: 13%;
    height: 29%;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 5px 0 5px;
    margin: 0 5px 5px 5px;
    cursor: pointer;
    border: @main-border;
    position: relative;

    &:hover {
    	border: 1px solid @blue;
    	// background-color: #FFFDFD;//#F4F4F4;
    }

    .display-box.add-new {
		position: absolute;
		 width: calc(~"100% - 10px");
	    top: 5px;
	    left: 5px;
	}

}

.calendar-container:nth-child(7n+6) {
	background-color: #F4F4F4;
}

.calendar-container:nth-child(7n+7) {
	background-color: #F4F4F4;
}

.display-box {
    float: left;
    width: calc(~"100% - 10px");
    margin-top: 0;
    border-radius: 2px;
    cursor: pointer;
    height: 95%;

	p {
		border-radius: 2px;
		padding: 2px 15px;
		cursor: -webkit-grab;
		border: 1px solid transparent;
		line-height: 16px;
		margin-bottom: 0px;

		&:hover, &:active {
			// background-color: #D0EAFF;
		    border: 1px solid darken(#eee, 10%);
    		background-color: darken(#FBFBFB, 5%);
		}
	}
}

.week-day-container {
	display: flex;
	justify-content: space-between;
	margin: 0 3%;
	margin-bottom: -20px;
}

.dayOfWeek {
	min-width: 13%;
	margin: 0 10px;
	text-align: center;
}
















