.whole-thing {
	display: flex;
	flex-direction: row-reverse;
}

.lil-guy {
	font-size: .9em;
	color: #999;
	font-style: italic;
}

.just-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	opacity: 0;
}

.flex-between {
	display: flex;
	justify-content: space-between;

}

.be-bold {
	font-weight: bold;
}